[2017-02-22 15:48] spencermountain opened #1 "image!"
![pasted image at 2017_02_22 10_47 am](https://cloud.githubusercontent.com/assets/399657/23219219/7db8628a-f8ec-11e6-868c-58cf40160936.png)

[2017-02-22 15:49] #1 closed, assigned to nobody

[2017-04-20 17:19] spencermountain opened #3 "Port-over moment tests"
moment and moment-timezone have great tests, and given that our apis are so similar, should take only a bit of elbow-grease to [move some of these over](https://github.com/moment/moment-timezone/tree/develop/tests/moment-timezone)

[2017-04-20 17:27] spencermountain opened #4 "Typings file"
from recurrent googling, seems the popular way to expose the api now is a `.d.ts` typings file, and pointing to it from package.json. I'm easy regarding any alternative formats.

moment tests it [this way](https://github.com/moment/moment/tree/develop/typing-tests), which seems doable for us.
-thoughts @brianleroux ?

[2017-04-24 23:55] ryanblock opened #6 "Add hemisphere-sensitive support for seasons"
→ `s.now('Australia/Brisbane').season('summer')//december!`

[2017-04-24 23:56] ryanblock opened #7 "Add configurable start-of-the-week"
Weeks start on different days in different regions. And some folks may have totally arbitrary week needs!

[2017-04-24 23:57] ryanblock opened #8 "Leap year support in dayOfYear()"
👇
[code]

[2017-04-24 23:57] ryanblock opened #9 "Basic `window.Intl` fallback to guess timezone"
(If the env doesn't support that spec yet)

[2017-04-25 16:32] brianleroux opened #10 "decision tree for choosing spacetime over something else like moment-timezone"
https://twitter.com/hopefulcyborg/status/856904772288466945

ht @afabbro

[2017-04-26 19:54] kristoferjoseph commented on #7
I agree we should have a way to do this. I feel like we should write a different module that wraps spacetime for features like this.

[2017-08-01 09:52] HelKyle opened #13 "Support isBetween API?"
How about supporting **isBetween** api for checking if a date is in the range

[code]

[2017-08-01 12:35] spencermountain commented on #13
hi HelKyle, yeah, i like that. happy to merge a pr. Right now you could just do
`now.isAfter(start) && now.isBefore(end)`, though i admit that is more complicated than it oughta be.

[2017-08-02 02:38] HelKyle commented on #13
how about this
#14

[2017-08-02 14:25] uitgewis opened #16 "Season incorrect"
The season in the southern hemisphere is incorrectly being reported as being the same as the northern hemisphere.

Example:
It's currently winter in the southern hemisphere, but the library reports it as summer.

[2017-08-02 14:33] #13 closed

[2017-08-02 14:35] spencermountain commented on #16
hi Ferdi, yup!  never did this properly. it should be pretty easy to do. #6
i'm going on vacation this week, so unless you figure it out, i'll look at it when i get back next week

[2017-08-02 14:36] spencermountain commented on #6
dupe of #16

[2017-08-02 14:36] #6 closed

[2017-08-02 16:53] spencermountain commented on #16
hey, so if you're one step north of the equator in august, it's summer, but you take a step south and it's winter?  never thought about how dumb this is.

[2017-08-02 17:46] ryanblock commented on #16
Well, places that are equatorial don't really experience seasons like the folks smack dab in the middle of hemispheres do. So the answer is yes, technically, but not practically.

[2017-08-03 11:01] uitgewis commented on #16
Indeed! Though, I think it may be better to rather remove this functionality than attempt to support it.

That is, unless you'd like to keep a list of all countries, but as @ryanblock said, seasons are meaningless for countries near the equator.

[2017-08-03 18:04] pbarbiero opened #18 "[Feature] Allow manual i18n"
It would be nice to have basic support for translating the days and months.

While it would also be nice to include a bunch of locales ready to go, its not necessary if a method is exposed to update the strings.

Is this something you would consider, and would you humor a pull request to add this behavior if I get time to do so?

[2017-08-03 18:13] pbarbiero opened #19 "[Feature] Unix formatting"
There are many cases where allowing unix style formats would let this library be used in many more places than it can be today. I myself have many cases where the list of included formats do not expose nearly enough flexibility or control to get the exact format needed.

Would you consider adding a new method (or extending the current one) such as `.formatUnix()` or something? It could also possib

[2017-08-03 20:49] ryanblock commented on #19
Hey @pbarbiero! Will definitely defer to @spencermountain on this (and #18) but he's on vacation for a bit.

Just wanted to let you know since we aim to be responsive to feedback!

[2017-08-03 20:49] ryanblock commented on #18
→ https://github.com/smallwins/spacetime/issues/19#issuecomment-320086140

[2017-08-04 00:10] yoonnnnn opened #20 "999dice beg win deposited to me enjoy 1btc"
1day invented 60%get 2day invent 90%get
Id #95933308

[2017-08-04 15:13] spencermountain commented on #18
hey Phillip, for sure. Would be happy to merge this, if you figured out a way that made sense to do it. As long as filesize stays small, and english use is on the fast-path, it's all yours!

[2017-08-04 15:17] spencermountain commented on #19
absolutely! to be honest, i've never learned that case-sensitive thing, and that's probably why it doesn't have it right now. 😅
I'm not married to any of the current formatting methods, and it's not very clever. `unixFormat()` works for me, or it could fall-back to unix-formtting in `.format(str)` too... up to you!
cheeers

[2017-08-25 20:39] spencermountain commented on #16
hey Ferdi, this works now in v1.3
check it out here https://runkit.com/spencermountain/59a089ff4f689d0012aef498
cheers

[2017-08-25 20:39] #16 closed

[2017-09-14 16:35] tevko commented on #10
Looks like this tweet no longer exists

[2017-09-14 16:49] brianleroux commented on #10
Idea stands!

[2017-09-15 01:53] brad-decker commented on #19
If there was a unix formatting option or a way to to string together some formatting options (including timezone abbreviation, which is one reason why i can't adopt this package just yet) i'd be way more likely to use this. All the other api methods/usability looks amazing.

[2017-09-15 17:27] spencermountain commented on #19
ah yeah, you mean things like this `EST | CST | MST | PST | EDT | CDT | MDT | PDT` right?
we should definitely support timezone abbreviations, and even string formats like 'pacific time'.

for the unix-formatting stuff, is there a good resource for the spec? the best I could find is [this](https://momentjs.com/docs/#/parsing/string-format/). I think it's pretty weird, tbh. we could do it though.

[2017-09-15 17:32] spencermountain opened #23 "Time zone abbreviations and aliases"
support
[abbreviation](https://en.wikipedia.org/wiki/List_of_time_zone_abbreviations) to IANA.

`PST` -> `Canada/Pacific` etc.

may need to do it manually, i don't see it anywhere
(from #19 )

[2017-09-15 20:05] brad-decker commented on #19
i'd be down for non unix based, real world strings, so long as they can be strung together.

[code]
or something to that extent, instead of or in addition to the formats already provided.

[2017-09-15 21:41] spencermountain commented on #19
hey, i like that idea.
thanks Brad

[2017-09-21 16:21] pbarbiero commented on #19
@spencermountain while I agree to the uninitiated it looks weird, but for anyone who works with dates on a regular basis, having a single format that works everywhere is much more important than being readable on its own.

I wont argue against people who want a readable format, but supporting the unix format (like momentjs does) should still be a separate feature that is supported.

I am still try

[2017-09-21 16:35] spencermountain commented on #19
yeah! exactly. thanks Phillip. can't wait.

[2017-09-21 19:57] pbarbiero commented on #18
Resolved in #24

[2017-09-21 19:57] #18 closed

[2017-09-27 20:53] spencermountain commented on #19
( just found a good reference for the spec - http://unicode.org/reports/tr35/tr35-25.html#Date_Format_Patterns )

[2017-10-03 17:55] spencermountain opened #25 "new logo"
<img width="277" alt="spacetime 1" src="https://user-images.githubusercontent.com/399657/31140478-80a4269a-a842-11e7-8dbf-b541fe3e87a7.png">
thx amber

[2017-10-03 17:55] #25 closed

[2017-10-03 18:10] spencermountain commented on #25
![begin](https://user-images.githubusercontent.com/399657/31141177-9f339dc8-a844-11e7-8330-0cee2dc12128.jpg)

[2017-10-04 10:41] rmunoz opened #26 "Unexpected epoch return value without dst"
Hi, I'm playing with your package and I think that I found a problem with the returned epoch value. Here is the code:

[code]

And the output is:
[code]
If I use https://www.epochconverter.com/ with the first epoch (1507105200000) I see what I expect, the GMT value is: "GMT: Wednesday, October 4, 2017 8:20:00 AM" because there is a 120 offset.

But If I set the second epoch (1509358800000) the GMT

[2017-10-05 20:10] spencermountain commented on #26
hi Ricardo, thanks for the bug, it's nice to see people kicking the tires. It's a pretty-new library. What do you think so far?

yeah, there may just be a confusion with the api - try this?
[code]

[2017-10-09 15:06] StefanoMagrassi opened #27 "Bug with southern hemisphere and DST"
It seems that the DST "change" property it's not rightly handled in the southern hemisphere.

For example, if you set as date `2017-10-09 12:00 UTC` and go to *America/Sao_Paulo* timezone, `hour()` method should return `09:00` because ([ref](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones)):

- UTC standard offset is **-3**;
- UTC **DST** offset is **-2**;
- DST starts on october 15th

[2017-10-09 16:05] spencermountain commented on #27
oh hey! duh! you're absolutely right.
man, thank you Stefano.
I should've caught this.
Will fix it pronto.
thanks!

[2017-10-09 16:28] StefanoMagrassi commented on #27
You're welcome.

Please remember that I'm not 100% sure the pattern could be applied to every southern hemisphere timezone. Should be done further investigations

[2017-10-24 12:53] spencermountain commented on #27
hey, have been busy. haven't forgot about this.
Hope to get it at the end of the week.

[2017-11-17 00:56] spencermountain commented on #19
hey, got this working, check it out
https://runkit.com/spencermountain/5a0e33189de1da0012780a28

there's couple obscure templates i didn't write, like non-julian year formats and stuff.
win!

[2017-11-17 00:56] #19 closed

[2017-11-17 01:08] spencermountain commented on #8
hey @ryanblock , that's clever - is this right?
[code]
... because the jan 1st is `1st`... the last day is 366th...?

[2017-11-17 01:14] spencermountain commented on #26
yeah, nm. i just reproduced this. You're right about this. something is fishy.
i added some [failing tests](https://github.com/smallwins/spacetime/blob/2ed6a1d8e97e379a0bdf528cbea8ab5003ff17c3/test/smoke.test.js#L40) to capture it.

[2017-11-17 01:41] spencermountain commented on #3
took a look, there's not many we could use in moment-timezone, but maybe more in moment-general.

[2017-11-17 17:31] ryanblock commented on #8
Last time I checked, regular years have 365, not 366 days (and leap years +1 day).

[2017-11-17 21:19] spencermountain commented on #8
got it in `v2.1.1` [check it out~](https://github.com/smallwins/spacetime/blob/dev/test/leapYear.test.js#L106)
thanks!

[2017-11-17 21:19] #8 closed

[2017-11-17 21:24] spencermountain commented on #26
agh, got this in `v2.1.1`. this was really hard!
https://runkit.com/spencermountain/5a0f528478a603001292d3c1
[relevant tests](https://github.com/smallwins/spacetime/blob/dev/test/smoke.test.js)
thanks.

[2017-11-17 21:24] #26 closed

[2017-11-17 21:29] spencermountain commented on #27
hey! i got this in `v2.1.1`.

you can see it [here](https://runkit.com/spencermountain/5a0f5405cfd0970012f63bac) matching up with what it oughta be:
![image](https://user-images.githubusercontent.com/399657/32969796-63c9d930-cbb4-11e7-94e8-06a80baefe74.png)

[relevant tests](https://github.com/smallwins/spacetime/blob/dev/test/hemisphere.test.js)
thanks!

[2017-11-17 21:29] #27 closed

[2017-11-18 01:26] mattbucci opened #31 "Zeropad timezone offset"
Hey I was using the unix format "MM d, h:mm a" and I would have expected it to read "Nov 7th, 11:05 am".

Instead I got  "Nov 7th, 11:5 am". I checked through https://github.com/smallwins/spacetime/blob/master/src/methods/format/unixFmt.js and it looks like 'mm' and 'm' are equivalent, so I don't think I'm using the spec wrong.

[2017-11-20 13:56] spencermountain commented on #31
hey Matthew! yeah, you're right about this.
i'll fix that this week, this unix-formatting stuff is really new, but you're right, it should be padding like that.

[2017-11-22 23:30] spencermountain commented on #31
hey, got [this fixed](https://github.com/smallwins/spacetime/blob/f9131dba5cfe20705c7cf40f9a9e86863d2d0ffb/test/format.test.js#L49) now, in v2.1.2.

can you check it out? I'm a bit confused about how this oughta work.
if you do `.format('h:m')`, but the minute is 22, ... it still prints 22 right?
anyways, your example works now.
cheers

[2017-11-23 00:50] mattbucci commented on #31
I haven't had a chance to look but yeah I think it would still print 5:22 if it was 5:22 but if it was 5:02 it would print 5:2 I think if in h:m format.

The more obvious example is hh:mm vs h:mm where it would be 05:22 and 5:22 respectively, both of which are actually valid use cases.

[2017-12-07 16:13] samtgarson opened #33 "Spacetime appears to ignore timezone when parsing ISO times"
[code]

Unless I'm missing something in how spacetime is supposed to be used, I can't see a way of telling the library that a) the date was in a different timezone to me or b) to somehow localize the datetime I gave it.

It appears [here](https://github.com/smallwins/spacetime/blob/master/src/input/strParse.js#L24-L32) that you match for a timezone but then don't do anything with it (it would be `

[2017-12-08 16:16] spencermountain commented on #33
hey Sam, yeah i think I see what you mean.
if i can remember, i started parsing the timestamp, ran into the timezone, and thought, hmm should this over-ride a timezone entered as the second param? Then i thought, how should we guess which timezone it is, given the offset? then i thought, man, it's almost lunch time.

so yeah, my bad ;)

if you pass a iana timezone in the second param, you should g

[2017-12-08 16:23] spencermountain commented on #33
hey, maybe this?:
we add `UTC-7`, and so forth, to [the zonefile](https://github.com/smallwins/spacetime/blob/master/data/zonefile.2017.json), which have no dst changes.
if we get a `-0700` suffix on the timestamp, we overwrite (any?) given timezone as second param, ... unless it's ...currently the same offset?

worse is the condition when you say `spacetime('xxx--0700', 'Europe/London')` - becaus

[2017-12-12 10:38] StefanoMagrassi opened #35 "Update README after breaking changes"
The **Timezone** section of the README file should be updated: `timezone().current.offset` is now expressed as integer, not in minutes.

[2017-12-12 14:01] spencermountain commented on #35
fixed! thanks.

[2017-12-15 05:11] #10 closed

[2017-12-15 14:19] samtgarson commented on #33
I believe the ISO date format (with timezone) is an absolute timestamp, not a relative one—i.e. the offset is always the offset from GMT, not relative to your current timezone.

If that's true, then I believe the two ways of specifying the timezone should be mutually exclusive, and I believe the ISO offset should take precedence.

If both are given, I see no issue with ignoring the second argument

[2017-12-15 17:11] ryanblock commented on #33
Couple points of clarification: ISO 8601 defines a broad standard for representation of dates, not a single standard.

Additionally, I believe offsets are relative to UTC, not GMT. (They are often the same, but slightly different.)

[2017-12-15 21:18] TheLarkInn opened #37 "ES Modules + .mjs"
Hi there!! This is really neat! I was wondering if any of us [at webpack](https://GitHub.com/webpack) could help ship this code over using ES Module Syntax?

Can include motivations if needed! 👨‍🔬🔥

[2017-12-16 00:57] brianleroux commented on #37
So we use this lib in Node and the browser currently. We ship two builds. A the default build and an immutable build.  The quick experiment moved to esmodules syntax and then builds using [babel-plugin-add-module-exports](https://github.com/59naga/babel-plugin-add-module-exports). Its not quite completely working yet because I missed some of the `.default` somewhere…findable with some time…and tha

[2017-12-16 15:56] samtgarson commented on #33
Of course, my bad about GMT ≠ UTC, I get lazy being in the UK...

Regardless of the broad standard, I still believe the absolute offset is the easiest way to work with timezones if you'd like to accept the format which includes a timezone offset in the timestamp? Although open to other suggestions of course 😊

[2017-12-16 17:10] spencermountain commented on #37
hi Sean! yeah, i agree if it's useful to module-people, we should do it, then browserify-them-away for the `package.main`. I haven't kept up with the latest best-practices, but am happy to help/merge
cheers

[2017-12-16 21:50] brianleroux commented on #37
It occurs to me that if the esmodules src gets published with the prebundled CJS src it’ll mean the on disk size of the package in node_modules will be way over 200KB. Even *just* the esmodules src is around 130KB. So best case 50KB larger on disk.

Also note this is the equivalent of shipping coffescript source to npm. In the past regarded as an inappropriate way of doing things because it forces

[2017-12-17 08:41] brianleroux commented on #37
Update: got it mostly working in the `esm` branch but tests still failing.

Was pleasantly surprised to see `.default` thing is just a webpack config option so in this branch we build `./spacetime.js` and `./immutable.js` exported as `commonjs2`. Then `module` field in `package.json` points at the esmodules src in `src/immutable.js` (for now).

The on disk node_modules payload is still quite a bit

[2017-12-18 19:59] brianleroux commented on #37
Update!1!! I got to totally working. Tests and lint are passing. I also figured out a sorta-hacky way to support esmodules alongside the cjs source. The tradeoff is a breaking change to the interface. Instead of the library exporting `Spacetime` as the main and then bundling `spacetime/immutable` the library now exports an object that looks like this `{Spacetime, ImmutableSpacetime}`.

And the bes

[2017-12-18 23:36] spencermountain commented on #37
wow! nice work brian. i just checked it out and things look great.

.... just thinking aloud -
it's safe to assume the module version will support all-the-fancy es6 right? i guess we can take liberties with that version, and write things in the most terse way now. Wasn't rollup the one that pre-ran for-loops and stuff? we can push this stuff hard

nice work!

[2017-12-19 01:05] brianleroux commented on #37
Yeah I think so but we'll want to make the CJS build a bit conservative to support, at least, Node 6.10 --- think this last commit fixes that by adding a rollup/babel plugin. Bumps cjs source filesize up to 42KB tho!

Def interested to see if we can get that `es.js` file smaller. Was thinking `./fns.js` and `./methods.js` could consolidate into `./methods` for example. I removed the package.json i

[2017-12-26 06:31] clekili commented on #23
great lib! Any guesses when abbreviations feature would be ready? I am more than willing to help if I can!

[2017-12-28 16:54] spencermountain commented on #23
hey can, yeah i stopped half-way through cause i got confused a little bit by something.
you can see the (some?) data [here](https://github.com/smallwins/spacetime/blob/master/data/abbreviations.js) i'm not sure if it's complete or not.

the trick, if i remember, was that `PST` and `PDT` refer to the same iana timezone, but should somehow move the date/offset. If i say `June 5th PDT` and `June 5th

[2018-01-24 11:51] krlk89 commented on #9
I am not sure if that is what OP meant with this issue, but it would be nice if the fallback timezone wouldn't be hardcoded to 'Canada/Pacific'.

I think it would be better if, for example, getTimezoneOffset method or timezone info from a Date object is used when assigning a fallback timezone.

Sadly, IE11 returns undefined for Intl.DateTimeFormat().resolvedOptions().timeZone so a (hopefully) more

[2018-01-24 16:43] spencermountain commented on #9
yep. i totally agree.
i'll try it this week. i suppose the eventual fallback oughta be utc, too... That or the bermuda triangle.
we could add a config in the options param.
cheers

[2018-01-27 12:37] ryami333 opened #38 "Feature Request - allow passing of arbitrary tzdata files."
There's this excellent family of IANA Timezone data files published on NPM now:

You can depend on _everything_ by using the root package:
https://www.npmjs.com/package/tzdata

Or, you can pull out just the areas that you want, like:
https://www.npmjs.com/package/tzdata-asia

It would be incredibly useful if `spacetime` were to expose an API for initialising with arbitrary tzdata so that we could

[2018-01-27 16:14] spencermountain commented on #38
Hey! Mitch, I really like that idea. That makes a lot of sense. I think it would be useful and simple to do.
I'll try to look at it this week.
Cheers

[2018-02-01 15:43] spencermountain commented on #9
changed the fallback to UTC, if no Intl is present
will release in v3.0.0
cheers!

[2018-02-01 15:43] #9 closed

[2018-02-01 15:49] spencermountain commented on #37
punting this refactor for now, as it's a good idea, but it required a breaking top-level api change, for the immutable/mutable stuff, and increased the filesize a bit.
afaik, the browserify exports still works with cjs, but if anyone has ideas for a quick-fix, i'm in.
will leave this open

[2018-02-01 15:50] #35 closed

[2018-02-01 17:22] brianleroux commented on #37
Yes, I agree. It is a bit disappointing but this was a nice experiment and, objectively, esmodules cost/benefit isn't there yet.

[2018-02-01 18:10] spencermountain commented on #33
hey, got this working and I'm somewhat happy with it - atleast it didn't destroy any passing-tests.

[this look alright](https://github.com/smallwins/spacetime/blob/8e587df5e986b471318ddb1a384221ba1aa317af/test/utcOffset.test.js)?
will be in v3.0

[2018-02-01 19:19] spencermountain commented on #38
hey, I checked out that IANA package, but the zonefiles are missing a few pieces of data for our purposes.
The closest I got was this, which is now working in v3:
[code]
it's kinda weird. Lemme know what you think.  Maybe we should publish `spacetime-asia`, `spacetime-europe` and things.
I'm gonna leave this open for now..

[2018-02-02 08:18] TheLarkInn commented on #37
Wow how did I miss this thread until today. (Sorry been migrating GitHub emails). Let me catch up here. So did i see that modules are a branch? Also, you had found builds are smaller still?

Maybe a tl;dr will catch me up.

[2018-02-02 09:46] samtgarson commented on #33
@spencermountain LGTM! Out of curiosity, are you going with ignoring the second argument if the first has a timezone included? Or has the API changed in 3.0?

Thanks for this, going to be really helpful!

[2018-02-02 10:34] johnyluyte commented on #19
Currently, using spacetime@2.2.0

`spacetime.now().format("yyyy-MM-dd")`  will produce `2018-Feb-03`

But according to the `Date Field Symbol Table` you linked above, shouldn't it be `2018-02-03`?
http://unicode.org/reports/tr35/tr35-25.html#Date_Format_Patterns

According that link, the symbol should act like this:

    M = 02
    MM = 02
    MMM = Feb
    MMMM = February

But currently we have:

[2018-02-02 15:03] spencermountain commented on #33
hey yeah, it would ignore the 2nd argument if it's there.
I thought about adding a warning message if that's the case. Maybe I should do that today.

[2018-02-02 15:15] spencermountain commented on #33
yeah, new console.warn behaviour in the next release:
[code]
what do you think Sam?

[2018-02-02 15:15] spencermountain commented on #19
hey Chun, good point. Looks like a bug.
Lemme take a look today
thanks!

[2018-02-02 19:00] brianleroux commented on #37
tl;dr we managed to get the payload of it smaller IF we pre-bundled the esm/cjs source but that gains us little a breaking API change for a marginal payload win and a much more involved set of deps and build gymnastics to support it. kinda not worth imo but we'll keep this PR open and play with it time to time to see if the space matures.

[2018-02-02 19:49] spencermountain commented on #19
hey, here's the fix
https://github.com/smallwins/spacetime/blob/master/test/format.test.js#L49
please check it out
cheers

[2018-02-03 02:26] ryami333 commented on #38
Thanks for investigating - that won't suit my needs though I'm afraid. Take care!

[2018-02-03 04:24] iamziyue opened #42 "support ISO space-seperator"
Hi, I tested the following code：
[code]
The first line, I get:
[code]
The second line, I get:
[code]
Actually, for date strings, I use spaces as separators more often than ever. Do you think you can add this feature? Thank you.

[2018-02-05 22:02] spencermountain commented on #42
hi @iamziyue. yeah, neat idea. I like that idea.
a regex-switch [here](https://github.com/smallwins/spacetime/blob/master/src/input/strParse.js#L72) should do it maybe.
I can look at it for the next release.
cheers

[2018-02-12 22:50] giladgray opened #43 "list timezones?"
loving the lightweight timezone library, but i don't see a way to list all timezones.
you've got this whole data module, can we get a function to expose it?

`spacetime.zones()` perhaps?

[2018-02-13 20:49] ricardobanegas opened #44 "PST to PDT is off by one day"
Hello all.

I have a method that converts UTC to a dynamic local time but testing using `America/Los_Angeles` the library seems to be off by one day when **PST** goes over to **PDT** (winter to summer time)

According to [timeanddate.com/time/zone/usa/los-angeles](https://www.timeanddate.com/time/zone/usa/los-angeles) the time change should occur `2018-03-11 02:00:00` but this seems to happen `201

[2018-02-14 14:07] spencermountain commented on #43
hey GIlad!
yeah, this is possible as-of last version, i just haven't documented it yet:
[code]
https://runkit.com/spencermountain/5a84425187b42500122cdf7a
is that gonna work?
cheers

[2018-02-14 14:10] spencermountain commented on #44
hey Ricardo! yeah, nice find. I think we're still using 2017's dst dates.
rats, i gotta do that.
i'll try to get this today, or this at least week.
thanks for finding this.
cheers

[2018-02-14 18:54] ricardobanegas commented on #44
@spencermountain

My pleasure. Let me know if you need help testing.

[2018-02-14 21:34] spencermountain commented on #44
hey @ricardobanegas , wanna check out `v3.2.0`?
this is our first year-update, so may find some funny-biz.
https://runkit.com/spencermountain/5a84aad980921200129df457
cheers

[2018-02-15 01:25] ricardobanegas commented on #44
@spencermountain Initial tests look good! Will place code on staging and let our tester run through some deeper tests. I'll let you know.

[2018-02-15 02:59] ricardobanegas commented on #44
@spencermountain Sorry, I spoke to soon. There is still a bug in the conversions.

On `2018-03-11` I expect `12:00:00 to 14:00:00` to be the converted values, but I'm getting `11:00:00 to 13:00:00`.

It seems the library understand the offset is -7 in the ` s.timezone().current` object but not when doing the calculation.

This is produced by same code snippet above.

[code]

Thanks again.

[2018-02-15 03:11] ricardobanegas commented on #44
Another bug on the same day. In the beginning of the day its returning -9 in offset. It seems the entire day `2018-03-11` is off by one hour.

[code]

[2018-02-15 09:44] dekoza commented on #44
A tip that might be helpful: [pendulum](https://github.com/sdispater/pendulum) for Python makes perfect calculations regarding timezones and DST. Maybe you could extract that algorithm and put it in `spacetime`. Although it makes use of very precise (zoneinfo database)[https://github.com/sdispater/pytzdata/tree/master/pytzdata/zoneinfo].

[2018-02-16 05:15] ksnyde commented on #4
any update on this? open to a PR? Love the compact size of this library but everything I do is in TypeScript these days.

[2018-02-16 05:44] ryanblock commented on #4
@ksnyde definitely open to a PR!

[2018-02-16 14:13] spencermountain commented on #4
ah, been waiting for someone like you Ken! do it!

[2018-02-16 14:21] spencermountain commented on #44
hey @ricardobanegas - just confirming, this is for `America/Los_Angeles` on the day of the dst change right?
Yeah, i think the dst-change we have is an hour late. Would that make sense? I think it's a "3am becomes 2am" confusion on my part.

@dekoza ohh pendulum is really cool! thank you for sharing that.

yeah, we're definitely at the point in this project where we can start diffing results with

[2018-02-20 09:50] ricardobanegas commented on #44
@spencermountain corrects its America/Los_Angeles we are talking about.

[2018-03-01 13:41] samtgarson commented on #33
Can see this has been released—thanks! Should this be closed?

[2018-03-01 14:34] #33 closed

[2018-03-03 16:28] shaungrady opened #46 "Implement `fromNow` method"
Greetings, I was curious if implementing Moment's `fromNow` feature is in the roadmap? It seems like it wouldn't be too tough to do by leveraging `diff`.

Just thinking through the rough logic:
- Diff on `years`; if `years` >= 1, `${years} year(s) ago`, else...
- Diff on `months`; if `months` >= 1, `${months} month(s) ago` else...
- Et cetera.

Pluralization of the time unit would be handled, of c

[2018-03-03 20:36] spencermountain commented on #46
hey shaun! yeah, great idea. Your approach is a good one.
Would it return text like moment, or some kinda structured data? Both could be useful.
PR! PR!

[2018-03-04 05:28] shaungrady commented on #46
Interesting, I had never considered anything other than a string output. What do you imagine an object might entail? Just thinking out loud, here, but maybe something like...

[code]

[code]

Any other ideas?

[2018-03-04 19:29] spencermountain commented on #46
agh yeah, good point. I think it'd be fair to blast-out a few forms, whatever you feel makes sense, like this:
[code]
i dunno, different precisions for different people maybe. Your cut-offs may have all-sorts of subjective stuff - like maybe showing ' and 11 seconds' isn't cool, but 'and 30 seconds' is cool. ¯\_(ツ)_/¯
go for it!

[2018-03-04 22:18] shaungrady commented on #46
I like that diff idea and having a more precise variation. How about this?

[code]

[code]

#### Qualifiers
Break up unit into 6ths, first 2/6ths has no qualifier, second 3/6ths has `'over'` qualifier, last 1/6th has `'almost'` qualifier:

- Years
  - Year and 1–4 months: `''`
  - Year and 5–10 months: `'over'`
  - Year and 11, 12 months: `'almost'` (following year)

- Months
  - Month and 1–10 da

[2018-03-05 15:52] spencermountain commented on #46
🤗 love it!

[2018-03-12 01:43] shaungrady commented on #46
I've opened a PR (#48). Wasn't able to leverage `diff`, since it's based on calendar months—so I copied the diffing logic from Moment. There are also a few tests in Travis that are failing that are unrelated to the new tests; must be failing due to the DST change that occurred this morning.

[2018-03-12 01:48] shaungrady commented on #46
There also appears to be an issue with Travis where, if a test throws an error, it doesn't break the build.

[2018-03-12 16:17] #46 closed

[2018-03-12 16:21] spencermountain commented on #46
very cool!
yeah, that's my bad. There's actually an insane off-by-one issue that can trigger at certain hours, which I haven't figured-out yet.
bonus points for writing this during a dst-change
cheers

[2018-03-12 22:22] spencermountain commented on #44
hey, good find. looks like all the dst-changes were off by one hour.
fixed in `v4.0.0` - wanna check it out?
thanks

[2018-03-26 19:49] mschipperheyn opened #50 "2018-02-30 is considered a valid date"
`spacetime('2018-02-30').isValid()` returns true. Obviously, it shouldn't

[2018-04-03 22:33] spencermountain commented on #50
hey Marc, this was a great find. Thank you
fixed in `v4.1.0`

[2018-04-03 22:33] #50 closed

[2018-04-24 10:32] JueLinYe opened #52 "On stplot()"
[311.pdf](https://github.com/spencermountain/spacetime/files/1942282/311.pdf)
[Task4_6.311.RData.zip](https://github.com/spencermountain/spacetime/files/1942285/Task4_6.311.RData.zip)

Greetings!

I have an stidf (trajectory) element and I am trying to display it with an stplot() function, as described below. However:

Firstly, the cuts where I want the colors to change are not "understood" by the

[2018-04-24 13:30] spencermountain commented on #52
hi JueLinYe, i think you have the wrong repository.
this is a javascript library for timezones, and has nothing to do with stidf.
all the best

[2018-04-24 13:30] #52 closed

[2018-04-24 13:46] JueLinYe commented on #52
Oops, sorry. Thanks for notifying.

[2018-07-25 15:40] vitormv opened #58 "Parse a new date in RFC822 format switches the offset (+/-)"
When i parse a date with the offset speficied, trying to format the date as `iso` or `iso-utc` swaps the offset operator from `+` to `-` and vice versa.

Example:
http://jsfiddle.net/w082uros/6/

[2018-07-25 19:38] spencermountain commented on #58
yikes!
thanks vitor, I'll take a look.

[2018-07-27 17:37] spencermountain commented on #58
hey, fixed this in `4.3.0`

yeah, it's weird that '+ 7 hours' is represented at `-07:00` in that format.
who knew!

good find, thank you.

[2018-07-27 17:37] #58 closed

[2018-07-27 19:34] vitormv commented on #58
That was fast! Thanks a lot!!

[2018-08-23 14:36] wyang36 opened #60 "ways to get abbreviation or full timezone names"
Is there a way to get abbreviation or full timezone name like "EST" or "Eastern Standard Time", for now I can only get "America/New_York".
ex:
[code]

[2018-08-23 18:50] spencermountain commented on #60
hey Kira, yeah I remember this being a weird thing that we didn't do terribly well.
This would be a cool feature. There may be some weird stuff with daylight-time abbreviations. I'm not sure how best to do it.

for now, i'd recommend looking at [this file](https://github.com/spencermountain/spacetime/blob/master/data/abbreviations.js), which has, i think, all the information you'd need to map from

[2018-08-28 18:29] stabback opened #61 "Fractional Timezone Support"
It looks like Spacetime has a bit of trouble with fractional timezones, and gets a bit confused with reading in timezones that are ahead / behind GMT.  Example:

[code]

Outputs the following:

![image](https://user-images.githubusercontent.com/31669122/44742468-e746e200-aacd-11e8-96c9-bc71e8a06ac3.png)

Issues:

1. The generated ISO timestamps appear to have the timezone backwards - for Toronto,

[2018-08-29 14:18] spencermountain commented on #61
hey Josh, no thank you, this is a great bug
looks like i'm sloppily writing `1.5` into the iso timestamp.

[code]

will fix it this week!
cheers

[2018-08-29 15:37] stabback commented on #61
Great, thanks for the quick reply!

Are points number 1 & 2 above also valid?

[2018-08-29 18:08] spencermountain commented on #61
oh yeah, I think they're the same thing. It would be good to have a second pair of eyes on this. It seems weird, but it was intentional, if I remember, to reverse the offset in the ISO format.
I agree it makes no sense. Can you check how `moment`, or `date-fns` do it?

[2018-08-31 13:33] tuqire commented on #61
@spencermountain I can clarify it works `moment` at least works as @stabback suggests.

[2018-09-01 17:54] spencermountain commented on #61
ah, yeah. you two are right. Here's moment/luxor
https://runkit.com/spencermountain/5b8acdaaed7d5b0012a94407

damn, how did I get this backwards.
fixed the fractional offset iso string issue, but this will be a major :/

gonna give it half an hour. let's see.

[2018-09-01 18:05] spencermountain commented on #61
bah - here it is - https://askubuntu.com/questions/519550/why-is-the-8-timezone-called-gmt-8-in-the-filesystem

yeah, we're mapping iso `...-05:00` to `Etc/GMT-5`, which has an offset of +5..
gonna start mapping iso `-05` to `Etc/GMT+5` and that should do the trick, and fail all the tests...

[2018-09-01 18:31] spencermountain commented on #61
okay, it's out 4.4.0, can you guys check it?
will leave this open until someone else's brain looks at the output

[2018-09-17 08:15] stabback commented on #61
@spencermountain Sorry for going dark on this, just got back from a vacation.  Thanks for resolving!

[2018-09-23 14:03] toreskogp opened #63 "Set time bug"
Having a problem setting the time using immutable. Trying to set the time to 08:00, but for some reason it seems to be set to the current hour.

I reproduced the bug with runkit: https://runkit.com/toreskog/5ba7999d0612d500122fbb97

[code]

[2018-09-23 22:36] spencermountain commented on #63
hey @toreskogp whoa, this is weird -  i [cloned](https://runkit.com/spencermountain/5ba8130a6e721c0011359e48) your example, did nothing else, and it worked....
yours:
![image](https://user-images.githubusercontent.com/399657/45933666-3bbf6f00-bf5f-11e8-975f-cf19bd780ccb.png)

mine:
![image](https://user-images.githubusercontent.com/399657/45933664-33ffca80-bf5f-11e8-88b6-186489aab0d5.png)

now if

[2018-09-24 09:38] toreskogp commented on #63
Yes, it seems like runkit is caching the result. But I can rerun it and the bug is there every time. I have tried yesterday at between 15:00 and 16:00, 16:00 and 17:00 and 21:00 and 22:00.

It seems like no matter what time I try to set the time ends up being the beginning of the current hour. And it has been perfectly reproducible.
I runned it now at 11.23 and the time ended up being 11:00.

And

[2018-09-24 15:58] spencermountain commented on #63
ha! yeah thanks. happy to look at this in a few days.

[2018-09-29 08:46] toreskogp opened #64 "Strange bug for add week"
Yesterday straight after midnight (I am in timezone "Europe/Berlin") I started to see a strange bug when trying to add one week to certain dates. Examples 2018-10-22 and a few following days. This morning I don't have the problem, but when I jump to timezone "America/Adak" I managed to reproduce the bug.

Here you could see how adding a week to 21 of Oktober works fine, but on the day after only 6

[2018-10-01 13:19] spencermountain commented on #64
hey! thank you Tore. That's a good bug.
Will check it out this week.

[2018-10-01 13:19] #61 closed

[2018-10-01 13:20] #44 closed

[2018-10-01 13:21] #3 closed

[2018-10-05 19:07] spencermountain opened #65 "set quarter fail-case"
bug (from mexico city tz)
[code]
should be April 1, but is March 31

[2018-10-05 21:27] spencermountain commented on #63
hey, i've got this fixed on master, not gonna release it I don't think, cause it's friday-night, and it's a holiday weekend (canadian thanksgiving)

this was a good find!
thank you

[2018-10-09 18:34] spencermountain commented on #63
shipped in `4.5.0`

[2018-10-09 18:34] #63 closed

[2018-10-09 19:17] toreskogp commented on #63
Thanks a lot!!!

[2018-10-10 19:01] flintjohnston commented on #33
I think I'm still seeing this bug.

[2018-10-10 20:53] ryanblock opened #67 "`tap-spec` is a devdep"
`tap-spec` is [listed under dependencies](https://github.com/spencermountain/spacetime/blob/master/package.json#L30) and not developer dependencies; this module has ~3 dozen deps of its own, and adds almost 2MB to Spacetime.

Will PR to move this into dev deps!

[2018-10-11 20:09] #67 closed

[2018-10-11 20:14] spencermountain commented on #67
yikes! thank you.
released as `4.5.1`.

[2018-11-09 22:31] gregorskii commented on #60
+1 for GMT+0800 format --> standard javascript new Date().toString()

[2018-11-09 22:46] gregorskii commented on #19
Going back to this... seems like this is a bit off on timezone formatting too.

Can this not also support moment conversions? Seems like that's a more common formatting pattern for devs that convert over. Otherwise, the unix format works fine, except its different (and also does not seem to match).

Trying to convert a project from moment-timezone to this is not directly convertible due to the for

[2018-11-10 16:53] spencermountain opened #69 ".format() refactor"
create `.unixFormat` and ensure output equals [moment.format](https://momentjs.com/docs/#/displaying/)'s spec

move unix formatting out of format, that way we avoid crazy cruft of special characters and stuff.

maybe `.format()` should support `.format('it is [time] o'clock')` or something like that.

Open to proposals!

[2018-11-10 16:53] spencermountain commented on #19
yeah, I agree. This formatting scheme we've got is pretty gross right now.
I can't figure it out, and I wrote it. Mixing unix-formatting and named formats has not played-out well.

Yeah, I like the idea of committing to parity with moment's `.format()`. we should call it `.unixFormat` or something.

creating [#69](https://github.com/spencermountain/spacetime/issues/69)

[2018-11-10 16:57] spencermountain commented on #69
i also like Luxon's `.toFormat('mm dd')` [concept](https://moment.github.io/luxon/docs/manual/formatting.html),

along with [named outputs](https://moment.github.io/luxon/docs/manual/formatting.html#Presets), like 'TIME_SIMPLE'

[2018-11-13 10:54] yvele opened #70 "How to escape format tokens?"
I would like to know how to escape ["weird" unix-formatting](https://github.com/spencermountain/spacetime#date-formatting)

There is no indications in the doc https://github.com/spencermountain/spacetime/wiki/Formatting

PS: By the way the `format` (or any other method) doc on https://spencermountain.github.io/spacetime/ is useless and gives no informations 🤔

[2018-11-13 13:30] yvele commented on #70
Can you explain that in the doc?

[2018-11-15 11:32] voxpelli opened #71 "Possible to make timezone data tree-shakeable?"
My impression is that its the timezone data that makes up most of the size of a library like this.

As a follow up to #37: Would it perhaps be possible to make the timezone data tree-shakeable? So that only the data for the time zones that one are actively referencing gets included?

If you're unfamiliar with the concept, then here's some more reading: https://webpack.js.org/guides/tree-shaking/ I

[2018-11-15 11:33] voxpelli commented on #37
I added #71 as I think one the main benefits of switching to ESM could be to have the timezone data tree-shaked, which could reduce the final size of the code rather drastically I think

[2018-11-15 14:37] spencermountain commented on #71
hey Pelle, yeah that's a cool idea.
I didn't know treeshaking could pluck keys out of an object. I suppose everything is possible. I like that idea.

[2018-11-15 14:57] voxpelli commented on #71
It can treeshake the JSON itself: https://react-etc.net/entry/json-tree-shaking-lands-in-webpack-4-0

[2018-11-23 17:31] spencermountain commented on #37
been thinking more about this, open to any recommendations.

the advice usually is to use es-modules internally, then _babel-them-away_ for the 'main' build.

but i've seen webpack complaining about **main** pointing to a built file...

so to avoid breaking any non-babel people, i prefer to have `main` point to `./src`.
and ./src should be cjs until node supports modules.

saw this and thought it

[2018-11-27 21:03] spencermountain commented on #71
hey @voxpelli I've created an es-module version [here](https://github.com/spencermountain/spacetime/tree/esm-attempt/builds), using rollup.

I'm still not sure it's useful, can you take a look at it?

[2018-11-28 08:07] voxpelli commented on #71
My understanding is that to enable tree-shaking one need to export each tree-shakeable thing individually – so while it’s good that it’s an es-module, it will always include everything I think because there’s only a single export.

By splitting things up in multiple exports something like webpack or rollup can pick just the exports that’s used and eliminate the rest – assuming that there are no si

[2018-11-28 13:31] spencermountain commented on #71
ah, thank you. that's helpful.

[2018-11-28 17:47] #20 closed

[2018-11-28 17:53] spencermountain commented on #37
hey, i got a [`.mjs` branch](https://github.com/spencermountain/spacetime/tree/esm-attempt) working, and made [a rollup esm build](https://github.com/spencermountain/spacetime/blob/esm-attempt/builds/bundle.es.js), feel free to play around with it if anyone's interested.

i could be convinced otherwise, but I think it's probably still too early to merge this. I think I got to the same point as bri

[2018-11-28 23:42] spencermountain commented on #65
update:
[code]

[2018-11-28 23:55] spencermountain commented on #65
fixed on dev

[2018-11-28 23:55] #65 closed

[2018-11-28 23:56] #43 closed

[2018-12-17 12:29] yvele opened #78 "Consider using git tags and Github releases"
Please consider using git tags when making releases. Specially useful with [Github release notifications](https://blog.github.com/changelog/2018-11-27-watch-releases/).

Also can you also consider ordering [changelolg](https://github.com/spencermountain/spacetime/blob/master/changelog.md)  from the most recent release to the older.

Thanks.

[2018-12-18 16:32] spencermountain commented on #78
hey, yeah you're right about this.
here's [5.0.4](https://github.com/spencermountain/spacetime/releases/tag/5.0.4)
cheers

[2018-12-18 16:32] #78 closed

[2018-12-18 20:00] tapiamcclung opened #79 "spacetime is not defined"
Hi,
After a couple of weeks of pausing, I just pulled a project I was working on that uses spacetime.
However, I keep getting "spacetime is not defined" regardless of using
`<script src="https://unpkg.com/spacetime"></script>`,
`https://unpkg.com/spacetime@5.0.4/builds/spacetime.min.js`
or  if `src` is a local file copied from that same URL
Any pointers? :/
Thanks a lot!

[2018-12-18 20:03] spencermountain commented on #79
thanks @tapiamcclung i was worried about this. I played-around with the build process last release.
let me check it out.

[2018-12-18 20:20] spencermountain commented on #79
yikes, `https://unpkg.com/spacetime@5.0.6/builds/spacetime.min.js` works, but the bare url still has a weird redirect. maybe there's a lag. will keep this open
thanks for the heads-up.

[2018-12-20 00:49] spencermountain opened #80 "time-sensitive bucharest bug"
set computer time to 7:30pm EST

[code]

only march overflows. error begins at `7:20pm` and ends at 8:20pm.

bucharest has a dst switch at `03/25:03`, may be related

[2018-12-20 00:56] spencermountain commented on #80
issue here:
https://github.com/spencermountain/spacetime/blob/cdd5ba189d70d3d42e8ec39c3e38093bae094bad/src/methods/set/walk.js#L24

[2018-12-20 14:22] spencermountain commented on #80
fixed in 5.1.0

[2018-12-20 14:22] #80 closed

[2018-12-20 14:23] spencermountain commented on #79
works now!
https://twitter.com/unpkg/status/1075581138649792513

thanks

[2018-12-20 14:23] #79 closed

[2018-12-25 07:52] emoulson opened #82 "Unexpected am/pm results with object input"
The `ampm` parameter of the object date input seems to default to `pm` when it's passed `null` or an empty string without a timezone. All the other params that I've tested seem to fallback to `.now()` values, but 'ampm' always defaults to `pm`, which seems a bit off, especially when `null` or a blank string are passed (I would expect `am`).

Here's what I tested:
[code]

This is really obvious if

[2018-12-27 22:22] spencermountain commented on #82
good find Evan, i'm sure this is a lazy falsy-check on my part.
Will get it in the new year.
cheers

[2018-12-31 20:31] #69 closed

[2018-12-31 20:32] spencermountain commented on #23
hey @clekili , this is supported now in `5.1.0`
let me know if you run into any issues.
cheers

[2018-12-31 20:32] #23 closed

[2018-12-31 20:33] spencermountain commented on #71
cleaning up issues, merging with #37
thanks

[2018-12-31 20:33] #71 closed

[2018-12-31 20:34] #38 closed

[2019-01-04 16:26] spencermountain opened #83 "add week over dst-change"
tricky double-day bug:

[code]

[2019-01-08 16:20] spencermountain opened #84 "time-sensitive leap-year issue"
[code]

[2019-01-08 16:44] #84 closed

[2019-01-08 17:30] spencermountain commented on #83
fixed in `5.1.1`

[2019-01-08 17:30] #83 closed

[2019-01-08 17:43] spencermountain commented on #42
got this fixed in `5.1.1`
thanks.

[2019-01-08 17:43] #42 closed

[2019-01-08 17:43] spencermountain commented on #82
fixed in `5.1.1`

[2019-01-08 17:43] #82 closed

[2019-01-21 13:26] wclr opened #88 "Feature Request: Historical timezone data"
So if I see it right this library doesn't use tz database full data that is used by https://momentjs.com/timezone/ and thus can not be used for historical dates, is spacetime intended only for current moment dates conversions?

[2019-01-21 13:39] spencermountain commented on #88
yes, that's correct. I think there are some no-longer-used timezones in our list, but yes, we only record their latest offset+dst change.
I thought i had written that somewhere in the docs, but it appears I haven't. will keep this open until i update it.
cheers

[2019-01-22 10:01] whitecolor commented on #88
Don't you want to change add this capability (as optional)? This would make spacetime more universal, allowing to use it in projects that work with historical dates.

[2019-01-22 13:24] spencermountain commented on #88
yeah, it gets pretty complex, the further-back you go.
it would also dramatically increase the size of the library

[2019-01-22 16:21] ryanblock commented on #88
To further @spencermountain’s point, the entire reason we created Spacetime at @smallwins was because date/time libraries with full historical databases were too large and slow and clunky. So this suggestion kind of negates the whole point of the thing. Perhaps check out Moment, @whitecolor?

[2019-01-23 07:13] whitecolor commented on #88
Well, probably there could be created a separate package that would hold the database and use `spacetime` as a dependency.

@ryanblock I use moment-timezone, it requires `moment` that I don't use) that is not a huge problem actually, it can be overcome.

I just thought that `spacetime` as the project could have such a capability.

[2019-01-31 22:57] hunteva opened #89 ""since" seems output unexpected differences"
Not sure this is a bug or misunderstand the API.
"since" call seems to output some questionable result, please refer the screenshots below.

![image](https://user-images.githubusercontent.com/491380/52091175-6e1d5f00-2618-11e9-8597-d3f122f62068.png)

couldn't understand why it's '3 days 11 hours ago', since 'diff' with days only output -1

[2019-02-01 12:52] spencermountain commented on #89
whoa, that does look wrong.
I'll check it out.

[2019-02-02 13:00] valentinradu opened #90 "implicit 0's behaviour-change"
`spacetime('2019-01-25T20:00:00+01:00').isBefore('2019-01-25T20:00:00+01:00')` returns `true`, but clearly is the same date. Prob is, when milliseconds are not specified, the parser doesn't assume 0, but a random (prob taken from current date) value.

[2019-02-02 15:06] hunteva commented on #89
I guess "who smells it who deals it", so here is the [PR](https://github.com/spencermountain/spacetime/pull/91) to fix it, please let me know your thoughts.

Cheers

[2019-02-03 11:52] hunteva opened #92 "'diff-big' test fail on specific time"
Pretty sure it's related to #90  feel need to document it here since it breaks tests.

![image](https://user-images.githubusercontent.com/491380/52176290-b2c21980-2815-11e9-8e48-3ed30376d488.png)

As can seen from above, there was 20 days difference when running it later. (10 days diff if only minus 10 year)

Glad to fix on this one by the way.

[2019-02-04 09:44] #89 closed

[2019-02-04 19:51] spencermountain commented on #90
fixed in `5.2.2`.

yeah, I don't mind the idea of using implicit values from the current time -
if you say `spacetime('june 5th 2018')` i don't mind setting the current hour, minute, etc.

Those are the same assumptions made in  js date object.

But if this generates race-conditions, like your example, we should avoid those, at least.

I've co-erced millisecond, and second to 0, unless they're spe

[2019-02-05 02:00] hunteva commented on #90
Thanks for the fix @spencermountain but I'm afraid js date doesn't make that assumptions.
[code]
except there is no arguments passed in, feels it might be nicer to have the same behaviour as js date object, I could make those changes if you like.

[2019-02-05 04:34] hunteva opened #94 "abstract-over DST change in .diff()"
## Sympton

[code]

Weeks should be **1043** instead of ~~1047~~

## Cause

~~Week diff use [climb](https://github.com/spencermountain/spacetime/blob/master/src/methods/diff.js#L8) way to adds weeks one by one until it reaches the target, the underlying [adds](https://github.com/spencermountain/spacetime/blob/master/src/methods/add.js#L78) function collects ms,sec,hour before the addition and then

[2019-02-05 18:42] spencermountain commented on #94
hey, thanks for your help.
In my opinion, `.add(1, 'week')` should compensate for the dst change, and move a full 7 days.

it looks like the confusing situation is in `.diff()` then. We may want to add 'dst compensate' to .diff...
hmmm. Do you agree?

(ps you don't need to use `.clone()` anymore for that)

[2019-02-06 11:50] hunteva commented on #94
Hi, @spencermountain, thanks for merge my changes, I'm really happy to help here.

Just want to be clear that current implementation is what your described, it works like this
[code]
Not exactly 'full 7 days' literally but 7 days worth of ms.

I'm totally agree the idea of dst awareness diff, just haven't figure out what's the more proper way to interprete the results, eg:

start = '2018-03-29T00:

[2019-02-06 15:24] spencermountain commented on #94
oh hey, you're completely right. Thank you. I was wrong yesterday.
yeah, adding a week to **thursday at 4pm** should always return a result at **thursday at 4pm**.

the add function is not correct then. The diff calculation can just use the same methods, so will not require any additional dst awareness step.

Sorry about this. I can take a look at this, this week -  or I will happily merge a PR wi

[2019-02-07 12:19] hunteva commented on #94
hi, @spencermountain the PR has been filed, now add function does exactly what we discussed for 'year/season/quarter/month/week/days', but not for 'hour/minutes/sec' since that's some exact number user ask to add.

Please let me know your thoughts, Thanks!

[2019-02-16 22:27] valentinradu opened #97 "Possible a timezone issue, .d property wrong value"
Give the following snipet:
[code]

It seems that the `.d` property has some issues with (probably) the timezone? In any case, it's not a representation of the parsed date.

[2019-02-17 14:40] spencermountain commented on #97
hey @valentinradu the `.d` property is only meant to be used internally, it doesn't have the offset applied. maybe it should have been called `._d` or something.
maybe we should have a method that wraps ` new Date(Date.parse(date.iso()))`, like you have cleverly found.

[2019-02-18 10:16] valentinradu commented on #97
@spencermountain Ah, ok, thanks for the clarification! The `.d` property was documented in the docs so I assumed it's open for the public.

[2019-02-19 07:23] talkor opened #98 "Error when trying to change time zone to Tomsk, Volgograd and +13"
When trying to change time zone to:

- Asia/Tomsk
- Asia/Volgograd
- Coordinated Universal time +13

using `.goto()` it returns an error: Cannot read property 'dst' of undefined.

In the pictures below trying to load spacetime.how website after changing the computer's time zone to these 3 time zones and getting that error. Checked with all time zones provided with Windows 10 settings and only thos

[2019-02-19 21:41] spencermountain commented on #98
thank you! happy to fix this

[2019-02-20 16:32] nicobytes commented on #31
I have a question I was using the unix format "yyyy-MM-ddTHH:mm:ssZ"

`date.unixFmt('yyyy-MM-ddTHH:mm:ssZ');`

![screen shot 2019-02-20 at 11 29 29 am](https://user-images.githubusercontent.com/7611944/53107338-d8803b80-3502-11e9-9437-91ea128e444b.png)

But it is wrong because the timezone format should have ZeroPad.

![screen shot 2019-02-20 at 11 30 53 am](https://user-images.githubusercontent.c

[2019-02-20 16:40] nicobytes opened #99 "zero-pad timezone offset"
I have a question I was using the unix format "yyyy-MM-ddTHH:mm:ssZ"

`date.unixFmt('yyyy-MM-ddTHH:mm:ssZ');`

![screen shot 2019-02-20 at 11 29 29 am](https://user-images.githubusercontent.com/7611944/53107338-d8803b80-3502-11e9-9437-91ea128e444b.png)

But it is wrong because the timezone format should have ZeroPad.

![screen shot 2019-02-20 at 11 30 53 am](https://user-images.githubusercontent.c

[2019-02-20 18:51] spencermountain commented on #31
i agree, thanks @nicobytes

[2019-02-20 18:52] spencermountain commented on #31
#99

[2019-02-20 18:52] #31 closed

[2019-02-20 18:53] spencermountain commented on #99
👍

[2019-02-21 20:36] #99 closed

[2019-02-21 21:22] davyuu opened #101 "Spacetime rounding fractional timezones when parsing ISO times"
![screen shot 2019-02-21 at 3 58 34 pm](https://user-images.githubusercontent.com/3384239/53202059-8834d680-35f3-11e9-98bc-3096dd99c1b6.png)

In my project, I am given a iso timestamp and in this case, it is a timestamp with a fractional timezone (`+5:30`). As you can see in the screenshot, I am creating an instance with the ISO timestamp in `+5:30` timezone and outputting it in `iso` format and i

[2019-02-22 11:44] hunteva commented on #101
looks like a bug, here is the [PR](https://github.com/spencermountain/spacetime/pull/102) to fix it.

[2019-02-22 15:13] #101 closed

[2019-02-22 15:16] davyuu commented on #101
thank you @hunteva !

[2019-02-22 21:27] davyuu commented on #101
@spencermountain Is there any timeline on when a new version with the fix will be available? That would be much appreciated. Thanks!

[2019-02-22 21:43] spencermountain commented on #101
yeah, i tried quickly to fix those tests, then got distracted. will do it this weekend, for 5.3.0.
Thanks!

[2019-02-22 22:24] davyuu opened #103 "given iso offset is coerced by dst-offset"
![image 1](https://user-images.githubusercontent.com/3384239/53274597-cb5f7a00-36c5-11e9-8d51-d32de4f7bfa6.png)

Hey, bumped into another issue with parsing ISO timestamps. In this case, I am trying to parse `2019-03-13T18:00:00.000-05:00` which is in CST or GMT-6 during DST which is in `UTC-5`. From the screenshot, I am just parsing the ISO timestamp and outputting it in ISO format and it is conv

[2019-02-23 10:28] hunteva commented on #103
![image](https://user-images.githubusercontent.com/491380/53285106-b6681100-37c1-11e9-92b1-b9f43dd6ba3d.png)

Could not reproduce this with version 5.2.1, can you please confirm what was your local tz and the version?
Cheers

[2019-02-23 15:56] davyuu commented on #103
![image](https://user-images.githubusercontent.com/3384239/53288705-9ef53d80-3759-11e9-9bc0-0337a4f308e4.png)

I was able to recreate this on my other machine using the latest version `5.2.2`.
My local tz is Toronto EST. It might be related to the fact that the parsed tz and my local tz are both in DST during that timestamp.

[2019-02-24 18:38] spencermountain commented on #101
published `5.3.0`. Thanks for the help!

[2019-02-24 18:39] spencermountain commented on #98
added them in `5.3.0`
thanks!

[2019-02-24 18:39] #98 closed

[2019-02-24 18:39] spencermountain commented on #97
removed this from the docs. thanks for the heads-up!

[2019-02-24 18:39] #97 closed

[2019-02-24 20:06] talkor commented on #98
Awesome! Thank you!

[2019-02-25 11:09] hunteva commented on #103
Found the cause, fixed in #105

[2019-02-26 13:28] spencermountain commented on #88
been thinking about this a little, and it'd be fun to implement in a separate package somehow.

if you run this, you'll see most computers (mine, atleast) have dst-change info back as far as 1900:
[code]
it'd be fun to turn this into a cleaner json diff, and see how small we can make it.

I guess the names/ids of tzs change too, so **stalingrad time in 1992**  would have some weird edges, and thin

[2019-02-26 13:31] spencermountain commented on #60
hey @wyang36 just a heads-up, I'm working on moving this abbreviation stuff to [a separate package](https://github.com/spencermountain/spacetime-informal/), to keep spacetime lightweight.
It'll be in v6, in the next few weeks, and will be documented in the changelog.
cheers

[2019-02-26 15:30] GerryOnGithub opened #106 "isDST() issues near DST change"
`var s = spacetime('March 10, 2019 03:00:00', 'Canada/Pacific');
        console.log(s.isDST());`

prints false but it should print true

Try this one, bizarre output:

`        console.log(spacetime('March 10, 2019 23:01:00', 'Canada/Pacific').isDST());
        console.log(spacetime('March 11, 2019 00:01:00', 'Canada/Pacific').isDST());
        console.log(spacetime('March 11, 2019 01:01:00', 'Ca

[2019-02-26 18:03] spencermountain commented on #106
whoa! good find. that sure looks like a bug.
i'll take a look over the next few days.
thanks

[2019-02-26 18:10] GerryOnGithub commented on #106
I think moment.js also has a problem, might be some sort of underlying libary

[2019-02-26 18:38] davyuu commented on #103
@hunteva @spencermountain Thanks for fixing the issue! Sorry to bother, but is it possible to push a version with this fix?

[2019-02-26 20:39] spencermountain commented on #103
i think this made it into 5.3.0

[2019-02-26 20:41] spencermountain commented on #103
oops, no it didn't.
i've got something dirty on dev right now, will take a look at it in the next day or two

[2019-02-27 18:12] davyuu commented on #103
@spencermountain Thanks!

[2019-02-28 13:46] spencermountain commented on #106
oh hey, I haven't fixed this, but I've identified it as a previously-known [issue](https://github.com/spencermountain/spacetime/blob/50baf455fa648424752384a6b32e6320c47f587e/src/timezone/summerTime.js#L15):
![image](https://user-images.githubusercontent.com/399657/53570582-d9cdeb80-3b34-11e9-8299-2b76aaaae933.png)
we're using the Date object for most of the math, but when it gets *really* (+-1hr)

[2019-02-28 13:53] spencermountain commented on #103
published `5.4.0`,
thanks for your help!

[2019-03-07 22:10] davyuu opened #108 "issue parsing some ISO offsets"
Hi there.

It seems that I have found another issue with parsing iso timestamps. We have a timestamp which is in Mumbai `+5:30` time and for some reason, spacetime is unable to parse it correctly.

I've ran a similar test in runkit using the latest version of spacetime.
https://runkit.com/davyuu/5c8195401106e400121054df
As you can see, I can parsing `2019-04-01T12:15:00.000+04:00` and its outputti

[2019-03-08 14:30] spencermountain commented on #108
ah, thanks for another good issue.
I've got a cold this week, but will take a look in a few days.
cheers!

[2019-03-18 10:09] david-potgieter opened #110 "`Since` method not i18n friendly (other methods too?)"
Seems like the since method's output is hardcoded to English? https://github.com/spencermountain/spacetime/blob/8b93859d23cfd828dca7de50cc8ec72105393cf4/src/methods/since.js#L132

Any thoughts on allowing i18n as per the custom languages example?

[2019-03-18 14:44] spencermountain commented on #110
fair point - yeah I like that idea.

i'm not sure it would be as easy as `rounded+= variableWord`,

maybe it would need to be a function? I presume there's all sorts of cultural/lingustic gotchas
[code]
open to PRs

[2019-03-18 14:46] #94 closed

[2019-03-18 14:47] #90 closed

[2019-03-20 08:16] david-potgieter commented on #110
Righteo, will take a stab at it this weekend! 🤘

[2019-03-25 08:07] jakolion commented on #106
I also detected the error with DST for the timezone "Europe/Berlin". Since this night it says DST true and already adds 2 hours to UTC but thats wrong. DST will be enabled next weekend and currently it is still UTC +1.

[2019-03-25 08:55] valentinradu opened #111 "CET to CEST switch fires two weeks early"
On 25 March 2019 the time offset for the CET timezone should be `+01:00` not `+02:00`. US timezones switch in the second week of March and the European ones in the last Sunday of March. There are a couple of weeks between in which this bug reproduces.

[2019-03-26 16:22] spencermountain commented on #111
whoa!
crap. sorry about that.
I have CET mapped to `Europe/Berlin`, and I get the correct result with doing this:
`zdump -v /usr/share/zoneinfo/europe/berlin | grep 2019`
there must be a bug in the zonefile build script. I will check it out tonight.
thanks for the heads up.

[2019-03-27 12:44] wirtaw commented on #111
Same problem +1h with all time zones. [Demo](https://jsfiddle.net/wirtaw/rgd687fz/)

[2019-03-27 13:23] #111 closed

[2019-03-27 13:25] spencermountain commented on #111
yeah, we were still on 2018 dst dates:

![image](https://user-images.githubusercontent.com/399657/55078347-57bbde80-5070-11e9-91dc-a52831cc7c0d.png)
(i had simply hard-coded a 2018 in the script 😳)

fixed in 5.5.0 - please check it out

thank you for the help

[2019-03-27 14:26] valentinradu commented on #111
@spencermountain Thanks for the quick fix! 👌🏽

[2019-03-27 15:35] wirtaw commented on #111
@spencermountain Now works as expected, thanks!

[2019-03-29 14:26] MomentumGuild opened #113 "Incorrect date transition during DST"
Right now, when constructing spacetime dates via and array of parts + a specific timezone, the date becomes incorrect if its the date of a dst change:

[code]

running the above code yields:

[code]

[2019-03-29 20:55] spencermountain commented on #113
hi @MomentumGuild ya thanks for the report.
I think it's probably a dupe of [#106](https://github.com/spencermountain/spacetime/issues/106), but I'll check it out when I get a chance
cheers

[2019-03-31 09:45] valentinradu opened #115 "Why is `UTC` timezone ignored when returned by `Intl.DateTimeFormat().resolvedOptions().timeZone`?"
Hi again,

I'm referring to this line of code:

https://github.com/spencermountain/spacetime/blob/master/src/timezone/guessTz.js#L17

My experience is limited with timezones standards, but I can't seem to find the logic in this statement. The bottom line is tho, when our servers return `UTC` as a timezone, it gets ignored and the default `asia/shanghai` (strange default btw, any reason for which U

[2019-04-01 14:43] #4 closed

[2019-04-01 15:27] spencermountain commented on #115
yes! i think that fallback choice was changed in a pr.

I believe you're right that this behavior should change, good find.
I think that's probably a legacy check. if `Intl` returns UTC, we should map it to our UTC!

will schedule this into the next release.
thanks

[2019-04-04 21:42] spencermountain opened #118 "0-based month consistency in .format()"
from @hannes-bitsoflove [pr 117](https://github.com/spencermountain/spacetime/pull/117)

generating an iso-like date manually should have iso-like **1-based months**,  especially when they're 0-padded.

example:
[code]

maybe we need a `.format('{iso-month}')`

[2019-04-06 14:58] spencermountain commented on #92
hey, just tidying up -  this seems to be working now:
[code]
lemme know if i'm missing the issue
cheers

[2019-04-06 14:58] #92 closed

[2019-04-06 17:44] spencermountain commented on #103
hey, i've re-introduced this issue, how fun!
at least, it will trigger if you set your system clock before dst.
will take a look at it this week
`:/`

[2019-04-06 17:59] spencermountain commented on #115
fixed in `5.6.0`
thanks!

[2019-04-06 17:59] #115 closed

[2019-04-06 17:59] spencermountain commented on #108
hey, this seems to be working now, as of `5.6.0`.
Sorry for the delay, I'm not actually sure when this was fixed.
Thanks for your help.

[2019-04-06 17:59] #108 closed

[2019-04-06 18:04] spencermountain commented on #113
thanks, I reproduced this:
[code]
urghh

[2019-04-06 23:11] spencermountain opened #120 "diff() weeks inconsistent"
[code]
there is a diff of 1 week, even though there is only one day difference

[2019-04-07 07:46] toreskogp opened #122 "Go to returns wrong date"
I am getting a strange result when using goto, where the date ends up being the date before it is supposed to be.

I am only getting this bug between 0:00 and 1:59 and my timezone is Europe/Berlin (UTC+2).

[code]

[2019-04-08 14:30] spencermountain commented on #122
ah, right. so the hours are correct, but the date is flipping back.
this looks like a good bug. I'll check it out,
thanks

[2019-04-10 17:20] fantapop opened #123 "Update README to use milliseconds epoch in examples"
Examples on the README are somewhat confusing as they're still using seconds epoch:

[code]

[2019-04-10 17:28] spencermountain commented on #123
ah!
thanks!

[2019-04-10 17:45] fantapop opened #124 "2 character year format is missing"
Is there a way to print a date in this format:

4/10/19

In moment it's ```M/D/YY```

The only two year date option I can find has a preceding apostrophe

[code]

I realize there is now some issue with backwards compatibility but if the year-short option was just a 2 digit output, someone could always add their own apostrophe.

[2019-04-10 17:51] fantapop commented on #124
Nevermind, I see that I can use the unixFmt method.

[code]

[2019-04-10 17:51] #124 closed

[2019-04-10 19:04] olivergg commented on #113
I also have another corner case :

[code]

The funny thing is that I've ended up finding this issue while debugging an old GWT application which has exactly the same issue in formating date in another timezone. FYI , here is the relevant GWT source code  https://github.com/gwtproject/gwt/blob/205b88a4d88cc0c23b2cd0df681a18d114443a7c/user/src/com/google/gwt/i18n/shared/DateTimeFormat.java#L761. Hop

[2019-04-11 20:54] spencermountain opened #125 "dayofyear issue"
need to validate `dayOfYear` better post-hoc:
[code]

[2019-04-12 20:23] spencermountain commented on #103
[code]

[2019-04-12 22:57] spencermountain commented on #113
hey, think I've fixed these two issues.
[code]
it's on dev now, will close this when **5.7.0** is released.
thanks for your help

[2019-04-13 17:06] #103 closed

[2019-04-13 17:06] spencermountain commented on #123
fixed in `5.7.0`
thanks

[2019-04-13 17:06] #123 closed

[2019-04-13 17:06] spencermountain commented on #122
this is now fixed on `5.7.0`
thanks!

[2019-04-13 17:06] #122 closed

[2019-04-13 17:07] spencermountain commented on #120
fixed in `5.7.0`

[2019-04-13 17:07] #120 closed

[2019-04-13 17:07] spencermountain commented on #113
k, think i got this in `5.7.0`

[2019-04-13 17:07] #113 closed

[2019-04-13 17:07] spencermountain commented on #103
closed again, in `5.7.0`
thanks

[2019-04-13 17:07] spencermountain commented on #125
fixed in `5.7.0`

[2019-04-13 17:07] #125 closed

[2019-04-14 08:28] toreskogp commented on #122
Thanks!

[2019-04-23 11:52] MartinSpd commented on #7
Do you mean something like a new module with function (let's say `weekStarts`) with one argument (name of the country, e.g. in English) and function will find out if week starts on Saturday, Sunday or Monday?
Question is, if it should return name of the day in english or localised (or day index? - might be troublesome, when days starts differently for each country). Is this still open? I can do it

[2019-04-23 16:18] spencermountain commented on #7
hey @MartinSpd thanks, this one may be a little tricky for a first PR.
The first/last, start/end week stuff is a little weird at times.

To be honest, i'm not sure the best way to do this. It will require some persistent stuff, like `.extend()` and `i18n()` do - and care for differences with the Date object in js. May need some thinking and planning to do properly
cheers

[2019-04-24 13:01] MartinSpd commented on #7
I was thinking about making array with list of countries (eventually 3 letter short form) and use the index in another array to find out which day is first day of the week. Just as concept for beginning. For example `const countries = ['United States', 'United Kingdom', 'Arab Emirates']; const firstDay = [0, 1, 6];`. I can make the main function to accept one optional argument. If no argument is s

[2019-04-24 15:54] spencermountain commented on #7
hey, that's a clever idea. I'd love to see that data somewhere. I forgot that the UAE has such a  different work week.
Maybe this is best as a separate plugin, or library. I think it would be a really useful thing. Have you seen the [plugin system](https://github.com/spencermountain/spacetime#extendingplugins)? It's not very well documented, but may be a good application.

I would worry about this

[2019-04-24 15:56] spencermountain commented on #7
i mean, I think i would prefer something like this:
[code]
what do you think?

[2019-04-25 20:50] MartinSpd commented on #7
I wouldn't set all on one day. I will look into it and when I will have some progress I let you know. As a first step I create simple day determination by returning day index (based on arrays described above). Then I will try to create something using plugin system as you proposed.

[2019-04-30 11:17] Fellach commented on #88
Hi @spencermountain

What do you mean by _no-longer-used timezones_? All deprecated on the [IANA](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones) list?

I've got an error `Cannot find timezone named: 'US/Pacific'` and not sure is a bug or feature.

Love your work, greetz!

[2019-04-30 14:33] spencermountain commented on #88
@Fellach good question. I think we should include deprecated IANA zones. We have most of them now, i believe. Happy to add `'US/Pacific'`, and any others from that list.

I'm working on softening things up in a [seperate lib](https://github.com/spencermountain/spacetime-informal) for reconciling timezones, like `'India'` or '`San Fransisco`'. That can be where we put the long-tail, real weird time

[2019-05-04 22:11] spencermountain commented on #118
added `.format('iso-month')`

(and also `.format('iso-year')`
thanks for the help

[2019-05-04 22:11] #118 closed

[2019-05-05 15:56] jaipresto opened #131 "Property 'd' does not exist on type 'Spacetime'"
Only started after updating to 5.8.0, though I think it may have been missing for ~20 days (when the main types file was last updated).

Is this intentional?

I've fixed it temporarily (I use it in quite a lot of places) by adding
[code]
back to into the Spacetime interface.

So:

[code]

[2019-05-06 14:52] spencermountain commented on #131
oh, are you getting a typescript runtime error?
yeah sorry, `.d` was originally supposed to be an internal method, but it's actually kinda useful, isn't it.

we should add it back to the types, for sure then
thanks

[2019-05-06 17:10] jaipresto commented on #131
haha yes - I use it server and client-side.

And yes, ts runtime errors.

[2019-05-06 20:01] #131 closed

[2019-05-08 03:36] evabioz opened #133 "Use nearest with "quarter-hour" not work."
### Version
5.8.1

### Example
This bug happened in current version. I wrote a demo:

[code]

Should be `2019-05-08T10:15:00.000+08:00`

[2019-05-10 20:55] spencermountain commented on #133
fixed in `5.8.2`
thanks for your help!

[2019-05-10 20:55] #133 closed

[2019-05-16 08:40] vchrpng opened #136 "Type ‘.now’ is no need any parameter"
Seems like `spacetime.now` can passing a parameter as a timezone, but in types is not.

[2019-05-16 17:04] jecraig commented on #136
I'll try to get that added soon. Thanks.

[2019-05-17 20:37] #136 closed

[2019-05-27 05:22] vic08 opened #138 "Export internal type definitions"
Is it ok to export internal typescript type definitions? It's going to help typescript users with defining their interfaces

[2019-05-27 14:38] spencermountain commented on #138
ya! that's a good idea.
maybe it's as simple as adding `'types'` to the `"files"` field in the package.json
then importing them would be `require('spacetime/types')`?

[2019-05-27 17:23] jecraig commented on #138
@vic08 Is this PR what you were thinking?

[2019-05-28 03:48] vic08 commented on #138
@jecraig yup exactly 👍  thank you very much! can't wait to be released :)

[2019-05-28 14:09] spencermountain commented on #138
thank you!
published as `5.8.3`

[2019-05-28 14:09] #138 closed

[2019-05-30 18:25] craigpaul commented on #7
@spencermountain Do we have a way of doing this right now or are we stuck with Sunday as the first day for the time being?

[2019-05-30 19:25] spencermountain commented on #7
yeah, sorry @craigpaul

i guess the only place it appears right now is in ` startOf('week')` and `endOf('week')`.

... i mean, `.next()`, `.last()`, and `.add()`, `.subtract()` are just an indifferent 7 days.

and `startOf('year')` doesn't care either ....

for now, you'll just need to do `.startOf('week').add(2, 'days')`.

I think an implementation will only effect these methods - which makes it

[2019-05-30 19:26] craigpaul commented on #7
@spencermountain Thats fair, we can definitely work around it on our end, just figured I'd check in. Thanks buddy! Loving the library btw!

[2019-05-30 20:31] spencermountain commented on #7
hey, i just implemented this, it was way easier than i thought it would be.
[code]
let me know if it breaks anything

in `5.9.0`

[2019-05-30 20:31] #7 closed

[2019-05-30 20:39] craigpaul commented on #7
Fantastic! Thanks @spencermountain 👍 Definitely did not expect this to happen to soon! 😄

[2019-05-31 08:40] MartinSpd commented on #7
And what about using [spacetime-week](https://github.com/spencermountain/spacetime-week) as `peerDependency` for this function?

[2019-05-31 08:55] vchrpng opened #141 "spacetime cannot get 5.75 UTC Kathmandu"
Time zone named is not found in 5.75h, It actually as Kathmandu time zone

[2019-06-03 14:18] spencermountain commented on #7
hey @MartinSpd yeah, i've added `spacetime-week`  on the spacetime readme, so we should expect some users (and issues!).

yeah, we should (in my opinion) create a second method on spacetime-week like, `.setWeekStart('germany')` or something that actually changes the start of the week, instead of having to set it manually.

hey, i wanted to ask you - what do you think about the library supporting t

[2019-06-03 14:34] spencermountain commented on #141
hey Joe, are you talking about `asia/kathmandu`?
5.75 [seems](https://www.timeanddate.com/time/zone/nepal/kathmandu) to be the correct offset, what are you suggesting? Happy to make any changes.
cheers

[2019-06-03 17:00] fantapop opened #143 "published size metrics?"
I found the mention of 50KB regarding the size but its unclear if that's gzipped or not.  It would be nice to have this since one of the big value props of spacetime is its size compared to moment. See example here for timezone-support: https://github.com/prantlf/timezone-support

[2019-06-03 17:27] spencermountain commented on #143
hey @fantapop yeah,
you're right that it's a bit ambiguous
i'd prefer maybe just to include a link to something like this:
https://bundlephobia.com/result?p=spacetime@5.9.0
since it's always changing.

[2019-06-03 19:28] fantapop commented on #143
Works for me. Thanks.

On Mon, Jun 3, 2019 at 10:27 AM spencer kelly <notifications@github.com>
wrote:

[2019-06-04 08:58] MartinSpd commented on #7
hi @spencermountain that's good you put a reference to it :-) we will see where it goes. I think the discussion about when week starts in country `Xyz` might be a bit controversial, because I saw in multiple sources different data and picked those, which I think are more possible.

For example many arab countries (muslim belief) started week on Saturday, but in [one article](https://en.wikipedia.o

[2019-06-04 17:33] spencermountain commented on #7
yeah, that seems fair to me. It's fine to make a big gnarly json file, things shouldn't change too frequently (hopefully!).

you can always expose the json file somehow, to be set directly. Given that filesize is still small, a database shouldn't be required.

i trust your decisions on this.

[2019-06-05 03:28] codeHatcher opened #144 "typescript: import spacetime from ('spacetime') says undefined"
I'm relatively new to typescript by my other dependencies are working ok. I have the following error when using this module import method

![image](https://user-images.githubusercontent.com/5360982/58928386-295d1e00-8707-11e9-95ae-2353c209df2b.png)

but no error when using this method
![image](https://user-images.githubusercontent.com/5360982/58928413-3e39b180-8707-11e9-9a87-029751cf7431.png)

my

[2019-06-05 16:16] jecraig commented on #144
@codeHatcher Can you paste in your tsconfig

[2019-06-05 19:28] codeHatcher commented on #144
[code]

[2019-06-05 20:28] jecraig commented on #144
Ok, so I think this is just an issue with the way your typescript is configured. You've got commonjs which uses

const x = require('y')

which overrides with the es6 import syntax

import x from 'y'

So either remove the module option from your tsconfig or just continue using the commonjs require syntax.

I don't think there's any issues with spacetime though.

[2019-06-07 12:03] jlmmns opened #145 "[i18n] Allow for full customization of all hard-coded strings"
As of now, only days and months can be customized.

It would be nice if we could customize all hard-coded strings, such as:

- units (seconds, minutes, hours, etc.)
- since (in, almost, ago, etc.)

[2019-06-07 15:19] spencermountain commented on #145
hey @jlmmns yeah you're right - what are you thinking about for i18n units, this?
[code]

otherwise a dupe of [#110](https://github.com/spencermountain/spacetime/issues/110)

[2019-06-07 18:46] jlmmns commented on #145
@spencermountain Thanks for the quick follow-up! The API should stay English only, I'm sure.

I'm talking about the formatting. So, it's related to #110, indeed. But more than just the "ago" string.
Pretty much every hard-coded string that spacetime displays, should be customizable.

I'd want to try to contribute with a PR, but I don't have any time, unfortunately.

[2019-06-09 01:50] chuckreynolds opened #146 "Updated changelog & release tagging"
Looks like this used to be a thing a while back but has since stopped... Would be nice to have a changelog & releases tagged. 👍

[2019-06-10 15:37] codeHatcher commented on #144
I appreciate you troubleshooting this with me @jecraig, I changed the tsconfig as you suggested and now get a slightly different error

I tried one where I switched to the following tsconfig.json
[code]
and get the following error
![image](https://user-images.githubusercontent.com/5360982/59205962-f20cc800-8b71-11e9-9207-768a04923861.png)

[2019-06-10 15:49] codeHatcher commented on #144
As i'm looking through these test cases I see there is nothing that uses the typescript non-relative resolution via a string literal e.g. `import spacetime from 'spacetime'` but rather in the test file as `import { spacetime } from './spacetime-static'`

[2019-06-10 17:31] spencermountain commented on #146
thanks, released 5.9.0
the changelog is up to date
cheers

[2019-06-10 17:31] #146 closed

[2019-06-12 00:11] codeHatcher commented on #144
what's weird is it does have `spacetime_1` when I debug and that seems to be the correct function, but nothing still called `spacetime` that seems to be imported

![image](https://user-images.githubusercontent.com/5360982/59314817-07bee200-8c85-11e9-9c2b-a13e8ce01209.png)

which is when I run the debugger with the following code

![image](https://user-images.githubusercontent.com/5360982/59314825-

[2019-06-12 14:47] jecraig commented on #144
I scratched up a quick project and there do appear to be some issues using the typings without a bundler. I've been using Spacetime with Webpack no problem. I'll try looking into some solutions for using it without a bundler.

[2019-06-15 17:11] secretuser opened #147 "optimize `.week()` performance"
I instantiate a large number of spacetime objects and it is quite slow due to the sheer number of it.  I tried to parallelize it through webworkers, but that data cannot be memory-copied back to the main worker, making this option not useful at the moment. Is there a way to make spacetime objects work with webworkers?

[2019-06-17 09:38] corysimmons opened #148 "How does `goto` work?"
[code]

It seems `goto` just changes the location of the timezone but doesn't keep the moment. It just returns the current time in that timezone...?

[2019-06-17 14:59] spencermountain commented on #148
hi cory, whoa, this looks like a bug.
i think it has something to do with the input date format`GMT-0700`, is this some date standard from somewhere? I'm happy to support it.

you're right though. I think the `5:37am` is crazy.
Will check it out today or tomorrow.

[2019-06-17 15:01] spencermountain commented on #148
fwiw, this date format seems to be supported, if it helps:
`Mon Jun 17 2019 11:00:00 -0700`

[2019-06-17 16:09] corysimmons commented on #148
It's the JS string output of a `Date` object. I don't think it's a standard, but it was cool that your lib read it. To demonstrate, it technically can be used like so:

[code]

(if anyone is reading this and shaking your head at trying to use a JS date string like this then please correct me)

[2019-06-17 20:39] corysimmons opened #149 "Support TZInfo as "informal timezone""
Arguably the most popular informal timezone. It would be great to use `Eastern Time - US & Canada` and have it resolve `America/New_York`.

[2019-06-17 22:01] spencermountain commented on #147
hey @secretuser - you've piqued my curiosity - how many instances are you creating? What is your application, in broad terms?

i agree this limitation with webworkers is a lame one. If i were you, i'd probably flatten the date object down to an iso string with `.iso()` and ship it in/out of the workers.

the spacetime object is simply an epoch number, and an offset. Those two pieces of information

[2019-06-17 22:39] spencermountain commented on #148
hahaha
i appreciate that, thank you.

[2019-06-18 17:59] secretuser commented on #147
My usecase involves loading lots of data from financial markets (think futures, stocks, that kind of stuff) on different levels of granularity (minutes, hours, days, etc). (and then doing lots of analysis on said data).
Each data point / tick is associated with one or more spacetime objects, so millions of those get created.

Love the library by the way.

Unfortunately for me, loading those object

[2019-06-19 15:20] spencermountain commented on #147
whoa! that's awesome.
Yes, i can see this becoming too slow. You may want to take a look at the `Intl` browser object, which has some more low-level C-based date operations.

That's helpful to know `.week()` is the bottleneck. I'm happy to take a look at improving it.
cheers

[2019-06-20 17:29] nathanburgess opened #150 "Is it possible to respond to invalid timezone input?"
[code]

This code will print with `console.warn`, but it doesn't throw an error. Since it also corrects the timezone, I can't figure out a way to actually detect when an invalid timezone has been specified.

[2019-06-20 18:49] spencermountain commented on #150
ah, you're right. That's a good idea.
it should probably return a date that's invalid, shouldn't it.

I'll add this behaviour to v6. this will be a breaking change

[2019-06-28 16:12] spencermountain commented on #148
just reading about this, it seems `Date.toString()` returns a made-up javascript date format.

it's well-documented [here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toString#Description), for future-me.

not sure how this should relate to the informal-timezone parsing stuff. I think we could get-away with ignoring the los angeles stuff, and just setting

[2019-06-28 16:29] spencermountain commented on #148
another note to myself:
[code]

we should just loop around a ton of dates, and input->output, and make sure the Date objects are the same. There's bound to be a bunch of gotchas.

[2019-06-28 18:41] corysimmons commented on #148
I'd definitely use IANA timezone names instead of +/- hour offsets. There is a ton of data associated with these that shouldn't be ignored.

https://medium.com/@toastui/handling-time-zone-in-javascript-547e67aa842d grep IANA

[2019-06-28 18:50] corysimmons commented on #148
I suspect 99.999% of datetime use cases should be:

1. Generate date using JS date. Convert to UTC+0.
2. Grab the client's IANA timezone with jstz.
3. Stash both of those in a db on the server.
4. All servers you work with should be config'd to be UTC+0. (most are by default)
5. When a client goes to consume a date from the server, fetch the UTC and IANA. Do all operations on that UTC+0.
6. If you

[2019-07-04 16:24] spencermountain commented on #148
yep, I think you're right.

it took me a long time to come to your conclusion, about how `new Date` has the sneaky offset thing. I'm surprised it hasn't been discussed further.

yeah, because the calendar changes on a political basis, a time string means ***whenever that time will be...***.  So, like you said, you need UTC calendar info, and a iana zone. Unfortunately iso dates don't usually have

[2019-07-04 16:37] spencermountain commented on #148
there's plenty of cranky blog posts out there, without real advice, but I'd say most people end up storing an ISO string, then write edge-cases for any weird `11:59` dates, if they care.

if users travel to another timezone, they expect confusion. It's really a UX issue, more than an engineering one.

when engineers are launching missles or something, they do a organization-level ad-hoc management

[2019-07-04 23:04] corysimmons commented on #148
I had to start getting the client's IANA with https://www.npmjs.com/package/jstz :D

But yeah I 100% agree with your rant (and all the blog post rants) on how bad time stuff is.

[2019-07-12 03:48] vshy108 opened #151 "iso-utc format without ms part"
May I know if I can directly have result of

instead of

without splitting the result of .format('iso-utc') with dot?

thanks

[2019-07-12 14:17] spencermountain commented on #151
hi @vshy108 good question. This should help.
[code]
I haven't tested it, but I just copied that from the `.format('iso')` method, so it should work ok.
https://runkit.com/spencermountain/5d2894f870075d001a8be0c6
cheers

[2019-07-12 14:17] #151 closed

[2019-08-03 15:18] jayasurian123 opened #154 "Zeropad for `hour-24` and `hour` format."
Is it possible to have padded hours in the format function?

eg:
Right now there is no way we could specify hours also need formatting.
[code]

Could we add a format where we could specify we need a zero padded hour also
[code]

[2019-08-06 15:59] spencermountain commented on #154
hey, i like this idea.
will add it to the next release
cheers

[2019-08-06 20:30] spencermountain commented on #154
added `hour-pad` and `hour-24-pad`.

`v5.10.0`
thanks

[2019-08-06 20:30] #154 closed

[2019-08-07 16:23] spencermountain commented on #144
version `5.1.0` ships a `.mjs` build, that is linked in package.json.
so this *should* be working now. lemme know if there's still any weird issues.
thanks

[2019-08-07 16:23] #144 closed

[2019-08-07 16:24] #141 closed

[2019-08-07 16:27] spencermountain commented on #37
hey there - `v5.1.0` publishes a `.mjs` build, which is linked as 'module' in the package.json.

... I guess that's it?
thanks for your patience.
props to rollup!

[2019-08-07 16:27] #37 closed

[2019-08-07 16:28] spencermountain commented on #145
merging with #110
cheers

[2019-08-07 16:28] #145 closed

[2019-08-09 23:09] jfnault-seedbox opened #156 "arrow function"
I noticed that arrow function are now in your production minified build,
they weren't in the previous version 5.9.1

Since most webpack babel-loaded exclude node_modules, applications will end up having arrow functions in the build and older browser will be affected.

the solution for us was to stick a 5.9.1 but I wonder if it's in the plan for you to fix it.

Thank you

[2019-08-10 14:35] spencermountain commented on #156
yikes! thank you for letting me know.
I will fix this asap.

[2019-08-12 20:47] spencermountain commented on #156
fixed on 6.0.0!
thanks for the heads-up.

[2019-08-12 20:47] #156 closed

[2019-08-12 20:48] spencermountain commented on #150
hey Nathan, unrecognized timezones now throw an error in 6.0.0
thanks for your suggestion
cheers

[2019-08-12 20:48] #150 closed

[2019-08-12 20:49] spencermountain commented on #147
hey @secretuser i've optimized .week() a bit. depending where in the year it is, it should is sometimes twice-as-fast now.
let me know if you see another performance outlier.
cheers

[2019-08-12 20:49] #147 closed

[2019-08-12 20:49] spencermountain commented on #143
linked to bundlephobia on readme
thanks

[2019-08-12 20:49] #143 closed

[2019-08-12 23:17] secretuser commented on #147
wow thanks for the effort! I really appreciate it.
That speedup over large numbers should be quite noticeable. I'll the grab
the new version and check it out.

On Mon, Aug 12, 2019, 22:49 spencer kelly <notifications@github.com> wrote:

[2019-08-21 23:58] tenshiemi opened #159 "Type error when using the yesterday method"
When using the yesterday method on a spacetime object I'm getting the following TS error:

`spacetime(Date.now()).yesterday();`

```Property 'yesterday' does not exist on type 'Spacetime'.ts(2339)```

[2019-08-22 19:13] jecraig commented on #159
yesterday, now, and tomorrow are part of the spacetime constuctor object. They are not available on a constructed spacetime object.

spacetime.yesterday()

is what you would want.

[2019-08-22 20:26] tenshiemi commented on #159
Thanks!

[2019-08-22 20:26] #159 closed

[2019-09-02 01:36] electic opened #160 "Format produces wrong formatted string"
First off, great component. I just upgraded to the latest version of SpaceTime and ran this command:

`spacetime.now().format('YYYY-MM-ddTHH:mm:Z')`

and it always produces:

`2019-09-01`

I am using NodeJS version: v10.16.3

[2019-09-02 06:52] #160 closed

[2019-09-03 20:44] allout58 opened #161 "TypeScript definitions do not include `Spacetime.isBetween`"
The TypeScript definitions for the Spacetime type do not contain the `isBetween` method. If I make TS ignore that it isn't there, the code works correctly, but this is not ideal.

[2019-09-04 22:22] spencermountain commented on #161
thanks James, must have missed that one.
Fixed in `6.0.1`
cheers

[2019-09-04 22:22] #161 closed

[2019-09-05 12:37] pserrer opened #162 "Invalid typing for spacetime constructor"
Calling the constructor with `null` (`spacetime(null)`) isn't allowed currently.

This could be avoided by using `spacetime(null as any)` - but that doesn't seems like a good solution.

[2019-09-05 12:48] spencermountain commented on #162
hi @pserrer thanks. Yeah, I really don't know the ins-and-outs of typescript. I bet you can tell.
`spacetime({empty || null || undefined})` should all return the same result (the current time).
What would you recommend? Thanks

[2019-09-05 15:53] jecraig commented on #162
@pserrer I just tested this on  6.0.1 and it works fine. What version are you on? Are you sure you're tsconfig allows nulls?

![image](https://user-images.githubusercontent.com/20190406/64357897-bb085000-cfc2-11e9-9ce7-17bc02f0daa9.png)
![image](https://user-images.githubusercontent.com/20190406/64357993-e0955980-cfc2-11e9-96ee-72c23439276f.png)

[2019-09-09 17:36] chrisirhc opened #163 "Documentation can be a bit confusing around immutability"
Hi there, this library looks really promising.
I wanted to point out that I was a bit confused as I was reading through the documentation as I saw code snippets like:

[code]

That snippet wouldn't work due to immutability, and instead it should be:

[code]

I understand the extra `d =` can impact readability but it seems like something that needs to be explicit in these code snippets since the `s

[2019-09-09 19:04] spencermountain commented on #163
ah, thanks Chris. I've overlooked updating the website, haven't i.
I'll do that pronto.
thanks!

[2019-09-13 22:27] spencermountain commented on #163
hey Chris, just fixed it up.
Thanks for the heads-up.

[2019-09-13 22:27] #163 closed

[2019-09-14 23:51] chrisirhc commented on #163
Thank you!

[2019-09-27 16:38] Chrischuck opened #164 "converting to a new timezone and back doesn't give the same time"
The issue is pretty self explanatory once you see the code:

[code]

This works as expected if I switch to a timezone like Hawaii and back, but when timezones bring the date to another day I get this behavior.

I'm probably missing something or not understanding something about timezones here

Thanks for the help!

[2019-09-27 23:14] electic opened #165 "Get underlying Date object."
Thank you for writing a great component. I can't seem to find in the documentation a way to get the underlying Date object. Is there a way to do this?

[2019-09-27 23:18] jecraig commented on #165
import spacetime from 'spacetime'
let spaceDate = spacetime.now()
let jsDate = spaceDate.d;

[2019-09-27 23:20] electic commented on #165
Thank you!

[2019-09-27 23:20] #165 closed

[2019-09-28 19:36] spencermountain commented on #164
hi @Chrischuck this is a good issue. I think i know what is happening.

it looks like it's actually an issue with the iso format, for a +14h offset, like `Kiritimati`. I didn't realize that offset existed.

For now, this works, if you wanted to just pass the spacetime object in...
[code]

i'll look at fixing it today

[2019-09-28 19:40] spencermountain commented on #164
fixed in `6.1.0`
cheers

[2019-09-28 19:40] #164 closed

[2019-10-06 05:25] hybmg57 opened #166 "next('day') function returns same day instead of next day"
this happens after 6 October 2019 4am to 4.52am (AEST) time and every 0-52th minute every hour afterwards

[2019-10-06 17:46] spencermountain commented on #166
hey, thanks Jae.
I haven't been able to reproduce this, can you help?
This seems to work, for me:
[code]
cheers

[2019-10-07 06:06] hybmg57 commented on #166
Its `.next('day')` function not `.add`

[2019-10-08 13:54] spencermountain commented on #166
ah, thanks. I've been able to reproduce this. It appears within a few hours of the dst change for this timezone - between 3am and 11pm.
[code]
for future me - in startOf('day'), `hour=0` walks back too far because of the dst change (expected) but the fallback behaviour fails to choose the correct date

[2019-10-12 23:20] csabaxyz opened #167 "2019 January 14 is the first week?"
Hey,

I just found about about your lib, and wanted to have a quick test, but I think right away found a bug:
[code]
The second week starts from January 15.

It looks like it is calculated here:
https://github.com/spencermountain/spacetime/blob/5c00606869af652d7db6a5a88fe813d0ba3f2963/src/methods/query/03-year.js#L72-L82

If I take out your optimization:
[code]
Then it would return 0.

So, I'm a b

[2019-10-15 20:10] chuckreynolds opened #168 "running changelog please‽‽ 6.1 not on releases tab"
Changelogs are immensely useful... pleeeaase can we have on that's kept up to date??? please?  👍 Thx in advance‽

[2019-10-16 12:36] spencermountain commented on #168
hi @chuckreynolds sure. The missing `6.1.0` version was #167 which added support for +14 timezones.
cheers

[2019-10-16 12:36] #168 closed

[2019-10-31 22:36] Chrischuck opened #169 "Sao Paulo incorrect timezone conversion."
Hi again, and thank you so much for the quick fix last time!

This time I have another weird issue where if I convert a gmt-3 timezone to Sao Paulo time it converts it to gmt-2.

When I convert from America/Los_Angeles to Sao Paulo it works fine however.

Here's a sample piece of code that shows the issue w/ moment-tz for comparison:

[code]

Thanks again for your help!
-Chris

[2019-11-01 16:45] spencermountain commented on #166
just took another look at this and it appears things are even worse now:
[code]
hmph.  This is the buggiest time of year for timezone math.

gonna flag this as a priority

[2019-11-01 17:19] spencermountain commented on #167
ah sorry @csabaxyz , i'm not sure how i missed this issue a few weeks ago.
sorry about that. Thank you for digging into it. You're absolutely right.

I have a head-cold and just spent some time looking at it and now am very confused.
I'll look at this next week, when i am 100%
cheers

[2019-11-01 17:25] spencermountain commented on #169
thanks chris, yeah it looks like the reckoning of sao paolo's dst is off.

[code]
will take a look next week
cheers

[2019-11-06 23:08] johnfumaster opened #172 "spacetime.mjs doesn't seem to work with uglifyjs"
I'm currently importing spacetime like so.
`import spacetime from 'spacetime`;

Everything works fine, but once it goes to build, it errors out with this error.

[code]

I'm not sure what could have caused this, nor could I find any solutions online.

Currently, in order to get my project to build, I have to import from the build directory.  So it's got something to do with the `.mjs`

[2019-11-06 23:47] johnfumaster opened #173 "isSame() is broken"
**How to reproduce**
[code]

**Error returned**
[code]

Not sure how this broke at all... Hopefully you can fix this soon.

[2019-11-07 13:50] spencermountain commented on #172
hey @johnfumaster mjs creates es6 javascript, which uses the `()=>` function syntax.
If you want to use uglify on that, you'll have to run it through [babel](https://babeljs.io/).
cheers

[2019-11-07 13:50] #172 closed

[2019-11-07 13:52] spencermountain commented on #173
hey John, it looks like you're using two different input formats, this should work as expected:
[code]
cheers

[2019-11-07 13:52] #173 closed

[2019-11-07 17:08] #162 closed

[2019-11-07 17:45] spencermountain commented on #169
ah, it was related to this - [Brazil Won't Change Clocks in 2019](https://www.timeanddate.com/news/time/brazil-scraps-dst.html).

removed dst for `brazil/east` and `america/sao_paulo`
will release as `6.3.0` later today
good eye!
cheers

[2019-11-07 17:45] #169 closed

[2019-11-07 18:04] spencermountain commented on #167
hey, i've fixed this in `6.3.0`, the .week() outputs look like this now:

[code]
this seems to be the expected behaviour, but i have a feeling there are more bugs here.
I'll close this issue, but let me know if you can spot any.
thanks.

[2019-11-07 18:04] #167 closed

[2019-11-07 18:04] spencermountain commented on #166
fixed in `6.3.0`.
cheers

[2019-11-07 18:04] #166 closed

[2019-11-08 05:45] johnfumaster commented on #172
@spencermountain but I am using babel.  The rest of my project is using `() =>`

Here is my module settings from webpack related to babel
[code]

[2019-11-13 00:38] tcjcodes opened #175 "Make spacetime.mjs ES5 compatible"
I'm working on a project that's using spacetime (great alternative to date-fns-timezone, btw!) but unfortunately webpack is automatically pulling in spacetime.mjs when using new ES modules, which is not ES5 compatible:

`import spacetime from 'spacetime';`

In our case, this causes an "invalid syntax" exception in IE.
Any way **spacetime.mjs** could be made ES5 compatible, like spacetime.js is?

-

[2019-11-13 13:57] spencermountain commented on #175
thanks Trina, yeah, I feel like i'm still not getting the export formats right.

My thinking was that anyone running mjs would support es6 syntax, and be using babel before putting it in the browser. That may be wrong.

I'd be happy to change it,

for now, you can try something like `import spacetime from 'spacetime/builds/spacetime.min.js'`
that may work.
cheers

[2019-11-20 04:01] johnfumaster opened #176 "undefined is not an object (evaluating 'this.epoch=null')"
**Error**

`undefined is not an object (evaluating 'this.epoch=null')`

I'm receiving errors from our monitoring software that people are experiencing.  I don't know what's causing it.  I've thrown invalid dates, invalid strings, NaN into `spacetime()`, and I can't get it to throw this error.

The line reports is coming from: webpack:///./node_modules/spacetime/builds/spacetime.js:3826:0:in 'epoch

[2019-11-20 14:14] spencermountain commented on #176
thanks john, that sounds weird.
Are you using it with .bind() or something?  it's a pretty [generic this call](https://github.com/spencermountain/spacetime/blob/master/builds/spacetime.js#L3826). `this` should always exist, unless being called in a fancy way.

[2019-11-20 23:13] johnfumaster commented on #176
No, not any special way.  I am doing something like this mostly.
`spacetime(date).isValid()`

where `date` can be of `new Date()`, `new Date('2016-01-01')`, a number like `1488370835081`, `NaN`, `null`, `undefined` etc.

[2019-11-21 03:40] johnfumaster commented on #176
I've just put in a try catch around the call to instantiate a spacetime to log the input that is causing the error.  I'll let you know my findings as soon as I find out.

[2019-11-21 04:56] johnfumaster commented on #176
Ok. Here's what caused the errors. The code was instantiating with:
`let s = spacetime(”2019-11-21”)`
As well as
`let a = spacetime("Thu Nov 21 2019 15:48:12 GMT+1100 (AEDT)")`

They seem to produce dates, it's just that spacetime code throws an error for some bizarre reason.

Any ideas?

[2019-11-21 05:08] johnfumaster commented on #176
Hi, we can finally replicate the error. It seems to be an issue with Safari 11 on desktop.

[2019-11-21 17:40] spencermountain commented on #176
thanks John, that's really helpful.
I'm happy to fix this. The second date appears not parse into a valid date.
If there's a weird browser issue, we should be able to set some kind of guard or polyfill.

what are the actual method calls, to reproduce it?

[2019-11-21 17:42] spencermountain commented on #176
yeah, it seems safari has [some opinions](https://stackoverflow.com/questions/4310953/invalid-date-in-safari) in it's Date Object. That could be it.
Either way, the no-this error shouldn't happen. We should figure it out.
cheers

[2019-11-21 22:44] johnfumaster commented on #176
Thanks Spencer. Much appreciated.

The stack overflow only reports issues with 'yyyy-MM-dd' format.  But we are also getting errors when using `1574312228115` and `Mon Nov 25 2019 11:00:00 GMT+1100 (AEDT)`.

[2019-11-22 10:03] johnfumaster commented on #88
Yeah, I've also been getting invalid IANA timezone for 'cet'. Strange enough, when I wrote a unit test to cover this, it doesn't complain.  I've also tried putting it through informal.find and still I get this error sometimes.

[2019-11-22 14:17] spencermountain commented on #88
agh weird. Yeah, spacetime-informal should be able to convert `'cet'` to `UTC+3`.
I'd really like to know why you're getting such unreliable results!
cheers

[2019-11-22 22:29] tcjcodes commented on #175
ES5 would be great, since it makes it universal for those using the package. In my case, I'm working on a large, shared repo at work and updating the webpack config would've been a large undertaking. It would be great for library consumers like me to not have to work around it (and _maybe_ have it automatically work in IE). Plus, it would make the format consistent with spacetime.js which is a bon

[2019-11-25 06:29] lvillasica opened #177 "Array date input support doesn't work for leap year"
`spacetime([2020, 1, 29])` returns date `2020-28-02`.

Upon checking the code it lead me to this https://github.com/spencermountain/spacetime/blob/master/src/methods/set/set.js#L113.
When month is 1 (February), `n` would be equal to `28` because `max` is equal to `28`.

[2019-11-25 15:38] spencermountain commented on #177
hi Leo, thanks for this.
Yeah, date inputs have 0-based months, and some don't. The javascript date object has these ambiguities too. It appears this array-version of a date is 0-based. Maybe it shouldn't be.
I'm happy to change it. It will be a breaking change though.
Either way, some better documentation about this is in-order, i'm sure.
cheers

[2019-11-25 22:38] lvillasica commented on #177
yeah I know the month is 0-based but the days don't seem to be 0-based as what I am seeing here `https://github.com/spencermountain/spacetime/blob/master/src/data/monthLengths.js#L2`

[2019-11-25 22:40] lvillasica commented on #177
Right now I am able to use the number support instead out of the date object `spacetime(dateObj.getTime())` and seems to work pretty fine. Thanks so much for responding :)

[2019-12-13 21:06] Chrischuck opened #178 "Asia/Yangon TZ not supported"
I believe Asia/Rangoon was changed to Asia/Yangon

[2019-12-18 16:53] spencermountain commented on #150
hey @0500843859Y here's an example of the thrown error:
https://runkit.com/spencermountain/5dfa5939e7c3d5001981b592

[2019-12-18 17:00] spencermountain commented on #178
thank you. I will add support for both.

[2019-12-30 23:29] iamvanja opened #179 "Custom string when instantiating"
Is something like this not possible?

[code]
Expected to get a datetime instance of this date/time in Hawaii, but instead
[code]
Also, in TS, `{ silent: false }` fails because `weekStart` is required. Is this by design?
Furthermore, `dmy` field is mentioned as an option in the README, but it is not part of the type definitions?

[2020-01-02 19:38] spencermountain commented on #179
hi Vanja, thank you for this.
Yeah, we need to be more explicit about which input formats are supported in the docs.
This month, and into 2020, I'd like to greatly improve them.

Out of curiosity, where is that `'12/30/19 12:22:08 PM'` format from? That looks like one I'm not familiar with. I'm happy to support it.

Re:Typescript - thank you, i've fixed it on dev.

[2020-01-02 19:43] spencermountain commented on #179
yeah, and IMO, when there's `silent:false`, it should log something that it failed to parse the date string. That would be the best behaviour.

Oh - and lastly - I think the missing `dmy` thing is just a function of it refusing to log the invalid date. This seems to work:
[code]

Thanks for your help

[2020-01-05 19:14] iamvanja commented on #179
Happy New Year!
`12/30/19 12:22:08 PM` is coming from a server of which I have no control over. It would be nice to have a string parser given the passed `format` option so that it can be intercepted before instantiating Date (and `spacetime`).

[2020-01-05 22:33] spencermountain commented on #179
Ok, I agree. I’ll add it to the next release.

On Sunday, January 5, 2020, Vanja Gavric <notifications@github.com> wrote:

[2020-01-07 23:36] havgry opened #180 "`.goto()` combined with rolling in/out of DST yields unexpected behaviour"
I just want to preface this by saying that I have no idea if this is a bug or it's the expected behaviour - but at the very least it's not clear to me from the documentation.

Anyway, I was scratching my head over future dates seemingly being wrong when rolling in/out of DST. For me, initializing in a specific timezone or initializing and then using goto, is the same thing. But spacetime doesn't a

[2020-01-08 14:57] spencermountain commented on #180
Hey @havgry yeah, this is confusing, but is the expected behaviour.
If you don’t supply a Timezone as a 2nd param, your local time zone Is used implicitly.
Worse though, with an ISO dates, the Z means use GMT, which Is what Inthink Is happeningng

Maybe we should add this to the documentation more clearly.

[2020-01-08 15:24] havgry commented on #180
Hmm, what I don't get is why there's a difference between initializing with a default timezone explicitly and initializing without and then using goto. The end result should be the same and it is - until DST gets involved.

[2020-01-08 19:48] spencermountain commented on #180
ha, yeah. i get caught on this too. Maybe there's a clearer way to do it.

`.goto()` calculates the time for that instant, in a new timezone. It was originally called `.in()` but i was getting caught on this exact thing. I thought goto was more clear.

You can always see what timezone you're in with `.timezone()`:
[code]
Let me know if that doesn't help. Goto should change the time. If youre in co

[2020-01-09 15:40] andemerie opened #181 "Add Asia/Famagusta"
I got this error with 'cet' and 'asia/famagusta' timezones. It appeared in Sentry.
The fact is that these timezones are taken from local settings, and aren't set manually. They occur in lines like:
[code]
These errors appeared after upgrading from 5.10.0 to 6.3.0.
Could you please support them?

[2020-01-09 19:48] spencermountain commented on #181
thanks @andemerie - i'm happy to create `asia/famagusta`.

`'CET'` and similar should be handled with the [spacetime-informal](https://github.com/spencermountain/spacetime-informal/) plugin
cheers

[2020-01-13 15:58] veddermatic opened #182 "wrong offset within 1hr of DST start"
We are using spacetime to format dates, and when we changed to showing offsets, things got a little weird near DST boundaries. Looks like it tries to start it an hour earlier than it should?

That or I'm doing something horribly dumb, which is certainly a possibility as well.

[code]

Note that near other boundary (`1572757200000` with America/New_York as timezone) works fine.

[2020-01-14 14:28] spencermountain commented on #182
hi Dave, thank you for the good issue.
You're right, the timezone offset is often off by an hour, within an hour of a dst change. #106

This is, like you hinted at, a problem based on using the js Date object internally. It's a gross circle where we don't know the time without knowing the offset, and don't know the offset without knowing the time.

I will put this as a disclaimer on the Readme. Yo

[2020-01-14 14:36] spencermountain commented on #182
also, if I remember correctly, the worst-case is an hour-shy of the DST change -  even if the timezone is -12h or something. Maybe we should confirm that 1hr of the official dst change is as bad as this can get. You can always get the offset info with `_s.timezone()`.

That would be helpful - to confirm the worst-case scenario. If we knew this was always the case, in every timezone, we could just

[2020-01-14 14:37] spencermountain commented on #106
gonna merge this into #182
would love to solve this one.

[2020-01-14 14:37] #106 closed

[2020-01-15 15:38] veddermatic commented on #182
Thanks for the confirmation. I'll make some time to see if I can help out on this in the next couple days.

[2020-01-17 03:05] GavinRay97 opened #183 "Calling .format() without a parameter does not list available formats"
The wiki instructions on the formatting page say:

https://github.com/spencermountain/spacetime/wiki/Formatting

However, calling `spacetime().format()` returns an empty string, and calling `spacetime.now().format()` yields a standard date format.

[2020-01-19 18:31] spencermountain commented on #183
hey @GavinRay97 sorry about that.
Looks like the documentation's old. I've fixed it to support the new syntax.
Let me know if you spot something else,
thanks

[2020-01-19 18:31] #183 closed

[2020-01-20 23:04] spencermountain commented on #180
been thinking about this. Maybe we need a 2nd method that sets the timezone, but keeps the local time.
anyone have a good idea for a name?
`.setTz()`?
`swapTz()`?

[2020-01-21 22:11] jecraig commented on #180
Why not just use st.timezone('America/Denver')
That way it works the same as the other getter/setters like minute, hour, etc.

[2020-01-21 22:11] spencermountain commented on #180
that's very clever.

[2020-01-24 00:29] alexkmerz opened #184 "Diff returning incorrect value"
I am currently experiencing an issue where the diff function is off by 1 in certain situations.

The diff in days between 2019-01-01 and 2020-04-10 is showing as 465 days, however,
the diff in days between 2019-01-01 and 2020-04-17 is showing as 473 days.

Since the dates are only 7 days apart I would expect the value to return as 472.

Replication code below:

    let lastyear = spacetime('2019-0

[2020-01-24 02:04] jecraig opened #185 "spacetime().d not returning what I would expect"
new Date(spacetime(new Date()).hour(6).goto('America/Los_Angeles').hour(4).epoch)
Thu Jan 23 2020 05:01:21 GMT-0700 (Mountain Standard Time)

spacetime(new Date()).hour(6).goto('America/Los_Angeles').hour(4).d
Thu Jan 23 2020 04:01:30 GMT-0700 (Mountain Standard Time)

I thought the .d property would return the correct Date object based on the epoch in spacetime. It looks like it's returning the s

[2020-01-26 19:26] spencermountain commented on #185
hey @jecraig yes, the Date object used internally is the local time, before the offset is applied.
That's part of why I didn't include it in the api originally.

Maybe we should have a `.toDate()` function, and a `.toLocalDate()`, or something, to clear this up. Any ideas?

related to #180  - it seems to be a confusing aspect of the API

[2020-01-26 19:30] spencermountain commented on #184
whoa, good find @alexkmerz . thank you.

so `Pacific/Auckland` does have a DST change  in that interval (04/07) - my spider-sense is saying this is the culprit.
Will address this in the next release.
Let me know if you find anything else.
thanks

[2020-01-27 18:42] jecraig commented on #185
That would be preferable. We can mark the .d as obsolete and users can continue to use it if they want.

[2020-01-27 18:49] jecraig commented on #185
I've held off correcting the issue in our codebase pending a proper function.

As to which function, I'd vote for .toLocalDate().

[2020-01-27 18:57] spencermountain commented on #185
cool. in the meantime you should be able to do:
[code]
(i think)

[2020-01-27 19:14] jecraig commented on #185
new Date(s.epoch) works as well, but I don't want to patch that in and then repatch with the proper solution.

[2020-01-28 00:59] alexkmerz opened #186 "isDST() Daylight Saving Date Range Incorrect"
I have found an issue with the isDST function, where it appears to be 1 day 'late'.

If I am correct, daylight savings in Pacific/Auckland should start at 2:00 AM on the last Sunday of September, and end at 3:00 AM on the first Sunday of April.

This would lead to the dates below for the start and end of daylight savings for the 2019-2020 period.
Start: Sunday 29th September 2019 at 2:00 AM
End: S

[2020-01-28 13:11] spencermountain commented on #186
thanks Alex, this is a good issue.
yeah, no matter what, setting time to 2:01, should always be 2:01!

my guess is that this is related to #182 . Because we use native js objects, things get hairy within an hour of a DST change. I'm gonna put a big disclaimer for this on the readme.

this case seems more-solvable than the others, because we *know* what the result time should be.
so it may be more

[2020-01-29 02:38] alexkmerz commented on #186
The biggest issue is the isDST() function returning false when it should be true, albeit I was trying to use this function to hotfix the previous issue [#184](https://github.com/spencermountain/spacetime/issues/184)

Cheers

[2020-01-29 17:05] Chrischuck commented on #181
@andemerie I'm getting this issue as well on hauwei devices interestingly enough.

Do you get an error like:
`Error: Spacetime: Cannot find timezone named: 'cet'. Please enter an IANA timezone id.`

[2020-01-29 17:07] spencermountain commented on #181
hey @Chrischuck that error is expected for non-iana timezones like 'cet'. You can use spacetime-informal to map them to proper iana codes.
cheers

[2020-01-29 18:44] Chrischuck commented on #181
Thanks @spencermountain

@andemerie  I think the best solution in this case would be to do:
[code]

For our current project, we get the timezone from IP address and roll with that throughout the application, so if that's an option for you, you might not need to use spacetime informal :)

[2020-01-30 16:23] spencermountain commented on #181
Famagusta added in `6.4.0`

[2020-01-30 16:23] #181 closed

[2020-01-30 16:24] spencermountain commented on #178
added in `6.4.0`
cheers

[2020-01-30 16:24] #178 closed

[2020-01-30 16:24] #185 closed

[2020-01-30 16:26] spencermountain commented on #177
oh right, 28 is hard-coded, isn't it.
good find!

[2020-01-30 16:35] spencermountain commented on #175
thanks for this. `mjs` builds now run through babel, in `v6.4.1`.
cheers

[2020-01-30 16:35] #175 closed

[2020-02-07 16:40] Chrischuck opened #192 "Browser timezone cet/wet"
Related to this issue: https://github.com/spencermountain/spacetime/issues/181

But I'm getting this error `Spacetime: Cannot find timezone named: 'cet'. Please enter an IANA timezone id.` a lot in production on xiaomi devices.

I don't have any xiaomi devices or don't know how to repro this locally so it's been a shot in the dark to try and track this error down.

What I've done, since we use the

[2020-02-07 17:00] spencermountain commented on #192
hi Chris, yeah, are you using some library to generate an Iana from the ip?

you can add a custom timezone like this:
https://runkit.com/spencermountain/5e3d96db5accc10014e2d768

[2020-02-07 17:14] Chrischuck commented on #192
I'm using maximind for the iana timezone, which I don't believe causes any errors.

If I add a custom timezone say at the entrypoint of my app, will that be reflected everywhere I import spacetime from?

[2020-02-07 17:35] spencermountain commented on #192
ah, i don't actually know.

try to track it down. I'd be happy to at cet as a edge-case if it is coming from the device itself.

i just did a grep in spacetime and doubt it comes from us.
Let me know!

[2020-02-07 19:46] Chrischuck commented on #192
Will do @spencermountain, it's super odd and we've been battling this error for like a month...it ONLY happens on Xiaomi devices 🤦‍♀️

[2020-02-18 02:00] jecraig opened #193 "st.add(1, 'date') doesn't get over day barrier on DST change"
Using version 6.4.1. Here's the output from the console.

[code]

As you can see, the date doesn't make it over to 2019-11-03. Because of this, using startOf date just puts you back where you were before the add.

[code]

Found this because we got an infinite loop trying to iterate over all of the dates between two dates.

[2020-02-18 02:28] jecraig commented on #193
Shifting all of my dates to .hour(12) appears to be a decent workaround. It appears to really only happen when your date starts in the DST zone.

[2020-02-18 15:10] spencermountain commented on #193
hey Jacob, good find.
I'm worried this may be another view of #182 . My guess is that it gets close to the dst-change, but then finds itself off by an hour.

yes- particularly hitting the infinite loop. This needs to be fixed.
in post-processing, the library should realize it hasn't shifted a whole day yet, and make a correction. I'm surprised this was not caught.
Will add to the next release.
che

[2020-02-23 04:57] Chrischuck commented on #192
@spencermountain I was finally able to repro this on firefox and it's happening when I add/subtract from the spacetime object.

I had to follow [this](https://www.addictivetips.com/web/change-the-timezone-in-your-browser-firefox/)

And then change the common name to "cet" so `Intl.DateTimeFormat().resolvedOptions().timeZone` would return "cet" in the browser.

<img width="718" alt="Screen Shot 202

[2020-02-24 17:06] spencermountain commented on #192
no sweat!
good eye.

[2020-02-24 17:06] #192 closed

[2020-03-04 19:12] craigpaul opened #194 "Current builds zonefile out of date for 2020"
Hey Spencer,

Just ran into a bug formatting dates near the upcoming DST shift which is causing some grief. We've worked through it and came to the conclusion that the built zonefile for the current release doesn't include the 2020 shifts. Is it possible to get that released?

[2020-03-04 19:15] craigpaul commented on #194
Nevermind, I didn't realize our version was out of date 👍

[2020-03-04 19:15] #194 closed

[2020-03-05 23:24] spencermountain commented on #194
i'm not totally sure what the IANA update schedule is - if anyone knows, please let me know

[2020-03-06 16:03] coatesap opened #195 "An inclusive version of isBetween"
Wanting to check whether a date falls inside an "inclusive" date range is quite common. At the moment, `isBetween()` doesn't match against the start and end dates. Having an `isBetweenInclusive()` method would be very handy.

Presumably the implementation would be:

[code]

If that sounds sensible, I'm happy to open a PR for it.

[2020-03-06 16:05] ElRaymond0 commented on #195
I concur

[2020-03-06 18:37] spencermountain commented on #195
hey Andy - maybe `isBetween` should just be inclusive?
i don't have strong thoughts about that either way.

[2020-03-06 21:11] jecraig commented on #195
@spencermountain What if we just pass in an optional boolean to be inclusive. Default to false/null that way we don't break any existing code relying on it not being inclusive.

[2020-03-07 18:29] spencermountain commented on #195
Yep I like that too. Good idea, pr welcome.

On Fri, Mar 6, 2020 at 4:11 PM Jacob Craig <notifications@github.com> wrote:

[2020-03-10 21:00] svey opened #196 "Bug in the spacetime hour method implementation."
I think this is a bug in the spacetime hour method implementation. Using either of the following returned incorrect values (the other 23 hours worked as expected):

`spacetime().hour(0)`
`spacetime().hour(1)`
same with `spacetime.now().hour(n)`

however passing an explicit date like `spacetime('2020-03-10T00:00:00Z').hour(h)` works

[2020-03-10 22:32] conroysj opened #197 "Typescript import issue in 6.4.x"
I'm getting the following error when I try to run my app after upversioning to 6.4.x

6.3.0 works fine.

[code]

have tried importing like
`import spacetime from 'spacetime';`
and
`import { spacetime } from 'spacetime';`

have tried a clean wipe of my repo, fresh install with 6.4.x to no avail. Logging spacetime() gives me `/static/media/spacetime.edf1835b.mjs` which makes me think it might be a w

[2020-03-11 12:41] #195 closed

[2020-03-11 12:42] spencermountain commented on #195
will release this as 6.5.0 over the next few days. cheers

[2020-03-11 16:20] spencermountain commented on #197
thanks Sean, just double-checking, this is a typescript error right?
I was able to reproduce this just now, but only using `ts-node`
cheers

[2020-03-11 17:49] conroysj commented on #197
`ts-node` is used by my `nodemon` and as a `devDependency` for several of my `dependencies`

[2020-03-11 17:49] conroysj commented on #197
I don't see evidence of it as being the root cause, however.

[2020-03-14 14:34] spencermountain commented on #196
hey Marcus, thanks. I don't fully understand the issue, is it that `.hour(0)` goes to 12am?

just checked, this seems to work as expected
[code]
cheers

[2020-03-18 19:27] spencermountain commented on #197
hey Sean, I took a look at this, and haven't seen any major changes between versions. Did anything else change on your end? I'd expect others to have the same issue, if the module was borked.

You may want to change your `tsconfig.json`  by adding `"esModuleInterop": true`. Make sure to run tsc --init when starting a new Typescript project.
let me know
cheers

[2020-03-27 08:17] es-lee commented on #197
I have same issue. When I build it with tsc, I got the following error
[code]

test.ts is just copy and paste of readme typescript example

[2020-03-27 13:07] spencermountain commented on #197
thank you @es-lee will look at this today.

[2020-03-27 14:57] spencermountain commented on #197
hey, i should admit, I am not a typescript pro like @jecraig is.
but I could reproduce the issue moving from 6.3 to 6.4 despite it seeming like a [really harmless change](https://github.com/spencermountain/spacetime/pull/189/files#diff-ff6e5f22a9c7e66987b19c0199636480)

i could get it working like this, but the typefile no-longer works.
[code]

gonna dig a little more, but I should admit i'm a lit

[2020-03-27 15:12] spencermountain commented on #197
ah, geez
yeah, you can also avoid this error by adding this to tsconfig.json:
[code]
i'm not sure why this has changed during an update yet.  We have [an esmodule build](https://github.com/spencermountain/spacetime/blob/master/builds/spacetime.mjs) which should export the right thing, and not require the interop flag. But I can't get typescript to point at that build for some reason.
any help here

[2020-03-27 17:44] jecraig commented on #197
@spencermountain I haven't been able to get a typescript environment that reproduces the issue. If you could let me know what environment you had (or a failing repo) I could possibly look into it more.

Regardless, I read through the PR you linked to see if I could find anything. Now I generally regard package making to be complete blackmagic so I might not be the best person to debug it but I not

[2020-04-04 13:59] spencermountain commented on #196
will reopen this if we can reproduce it,
cheers

[2020-04-04 13:59] #196 closed

[2020-04-04 14:12] spencermountain commented on #197
thanks Jacob, this was a clever insight. Thank you.
Yeah, I think this `"esModuleInterop": true` is necessary, for loading most npm libraries?
Typescript doesn't like `module.export` and doesn't like `export default` and I sometimes feel like typescript is a bitter joke on maintainers.
Will keep this open, if anyone wants to shed some light on this for me.

for reference, i'm just trying things, r

[2020-04-06 09:47] parashish opened #203 "Hard coded DST interval for timezones"
Hi Team,

I found an issue in this lib and this is very big issue as it has hard coded timezones.

i.e.- For europe/london  DST interval is 31/03 to 27/10 in thi lib,
But in actual last sunday of March(29th march for this year) and last sunday of Oct is DST interval.  So this was 2 day difference between actual and library DST interval.

Is there any workaround for this as it is a very bug for whe

[2020-04-06 15:03] spencermountain commented on #203
hey @parashish thanks for the issue
You can see [here](https://github.com/spencermountain/spacetime/blob/master/zonefile/iana.js#L1682) that `europe/london` is set to `03/29 1am -> 10/25 2am` which matches [the official one here](https://www.timeanddate.com/time/zone/uk/london). Maybe there is a misunderstanding. Are you on `6.4.2` the latest version?
cheers

[2020-04-06 15:20] parashish commented on #203
Thank you space time team for instant reply, please let me corect if i am
wrong for next year do i need to install latest version?

Warm regards
Ashish pareek

On Mon, Apr 6, 2020, 8:33 PM spencer kelly <notifications@github.com> wrote:

[2020-04-06 16:10] spencermountain commented on #203
yes, each year we release a new build with [updated dst information](https://github.com/spencermountain/spacetime#-historical-timezone-info), just to reduce filesize. As you said, they usually change by a day or two each year.
Maybe in the future we will try to anticipate some of the changes (last sunday of October, or something). That could help with this issue you're having.
cheers

[2020-04-06 16:10] #203 closed

[2020-04-12 21:14] ryanblock opened #204 "Skinny npm dist?"
Hey @spencermountain! Hope you're great.

Was wondering if you might consider a skinnier Node.js friendly dist?

These days Spacetime weighs in at just under 500KB, almost all of which is builds that aren't needed for  (our) CJS usage:

![image](https://user-images.githubusercontent.com/200964/79080054-a19d5400-7cc7-11ea-8124-838e25d3612a.png)

Thoughts on slimming the bundle size?

Thanks!

[2020-04-13 20:12] spencermountain commented on #204
Hey, of course!
Maybe we can just kill the map file?
When it comes to building js, you guys are living in the year 3000, and all
advice is followed. I’m in bundler bankruptcy.

Hey also, is it deno-friendly? My body is ready.

My understanding:
* min - browser, unpkg
* cjs - node main, typescript
* mjs - webpack treeshakers, pika

Agree that shipping three basically identical copies is poop.
Hope

[2020-04-13 22:21] ryanblock commented on #204
I'd be stoked just to have the .map file killed, but idk if there's someone out there counting on that.

In theory the mjs file should be deno friendly!

Could automate an alternate npm release that kills all files except `spacetime.js` (and name it `@spacetime/core` or something).

Another option could be to do releases of each of those files, and I can npm install off the release tgz. Less nice

[2020-04-14 15:17] spencermountain commented on #204
removed the mapfile in `6.4.3`, the whole thing is down to 281kb now. nice find.
yeah, we chould move a lot of functionality into plugins for v7.  A lower filesize means fewer lambda fuss-ups, means better covid tracker, means sooner I can watch baseball.
thanks

[2020-04-14 15:17] #204 closed

[2020-05-13 09:26] jayasurian123 opened #207 "unixFmt escape characters"
unixFmt method is not formatting correctly with 'T'
eg. from the unit test case
[code]

Its somehow adds T to the previous character and makes it `ddT`.

I have tried to check it and fix my own but there were not enough test example case for the quoted string.

[2020-05-15 09:11] MarioLema opened #208 "Parsing a date from Iso is off by an hour"
I don't know if this is a bug or it has been reported independently or as a part or other issue tickets so forgive if it's already known behaviour.

When creating a spacetime object if using a iso date string the spacetime formating comes back one hour behind.

Javascript Date: `Fri May 15 2020 10:00:31 GMT+0100 (British Summer Time)`
Iso string: `2020-05-15T09:00:31.555Z`
spacetime from JS: `15 M

[2020-05-15 17:40] spencermountain commented on #207
hey Jayasurian, thanks. Is there a reason why you add the apostrophes around the T?

it should work I think, like this:
[code]
let me know if I've misunderstood
cheers

[2020-05-15 17:49] spencermountain commented on #208
hey @MarioLema this looks like the intended timezone is being lost by the various formats.
You can call `s.timezone()` on any spacetime object, to see what tz it is currently in.

We should be able to parse the proper tz from an iso-format date, but I don't think we grab the tz from `toString()` result yet.

best idea would just be to manually pass-in the timezone, as a 2nd param, when you constru

[2020-05-15 17:49] #208 closed

[2020-06-11 23:39] spencermountain commented on #193
hey Jacob, this should be fixed now in `6.6.0`
thanks for your patience
let me know if you see anything else

[2020-06-11 23:39] #193 closed

[2020-06-16 00:58] Nfinished commented on #197
The error I'm seeing is
[code]

Should
[code]
just be expressed as `every: (unit: TimeUnit, end: String | Spacetime) => Spacetime[]`?

From https://github.com/spencermountain/spacetime/blob/master/types/types.d.ts#L59-L61

This is potentially a separate issue.

[2020-06-16 01:52] jecraig commented on #197
@Nfinished I believe this would be a separate issue. I'll have a PR soon.

[2020-06-16 14:57] #197 closed

[2020-06-23 21:47] imns opened #212 "`spacetime.whereIts` returns an array of timezones names lowercased"
Title pretty much says it all.  If I call `spacetime.whereIts('4pm')` it returns:

[code]

I would expect the timezone names to be in the same format in the documentation ie: `"America/Jamaica"` as referenced here https://en.wikipedia.org/wiki/List_of_tz_database_time_zones.

[2020-06-23 21:57] imns commented on #212
As a quick/dirty fix I did this, but I'm certain it doesn't cover all the edge cases:

[code]

[2020-06-24 18:34] spencermountain commented on #212
ah, yeah you're right.
I'll add this to the next major.

yeah - there is `America/Port-au-Prince` and `Antarctica/DumontDUrville`, and also the GMT ones and things.
thanks for the heads-up

[2020-06-30 18:47] spencermountain opened #214 "year 1895 walk-to issue"
[code]

[2020-06-30 18:59] spencermountain commented on #184
hey @alexkmerz I think this is fixed now, as of `v6.6.0`.

[code]

let me know if you are still seeing anything funny.
thank you!

[2020-06-30 18:59] #184 closed

[2020-06-30 19:05] spencermountain commented on #186
hey Alex, I think this is fixed now, thanks for your patience.
Note: the Auckland Dst date has changed since you reported this, and is now `Sept 27th 2:00am`:
[code]
plz let me know if i've messed it up
thanks

[2020-06-30 19:05] #186 closed

[2020-07-15 06:48] bigicoin opened #215 ".format('month-pad') uses 0-based month, not what the doc says."
Documentation:
[code]
However, as of current version `6.6.1`, `month-pad` appears to give the 0-based month value.

Here is a reproducible example directly from my node repl:
[code]

[2020-07-16 03:57] bigicoin commented on #215
Dug into the code and found this: https://github.com/spencermountain/spacetime/blob/master/src/methods/format/index.js#L21-L22

I guess the code is right and documentation is wrong. Should use `iso-month` instead of `month-pad` for 1-based month.

[2020-07-16 20:34] spencermountain commented on #215
ah thank you Bigi. You're absolutely right.
I have updated the docs and added a test for this.
good eye!

[2020-07-16 20:34] #215 closed

[2020-07-17 00:01] spencermountain commented on #214
this appears to be sensitive to current minute

[code]

[2020-07-17 00:09] spencermountain commented on #214
closer to the issue:
[code]

[2020-07-17 00:20] spencermountain commented on #214
found a 17-minute DST change. I think it may be the first DST change in the Americas.
![image](https://user-images.githubusercontent.com/399657/87734681-581a4480-c7a1-11ea-99b6-fefa4395b772.png)
https://www.timeanddate.com/time/change/canada/toronto?year=1895

[2020-08-10 17:48] erjdriver opened #219 "How to get current time in current timezone?"
Apologies - I tried to look for a solution and couldn't find it.

How do I get the current time in the current timezone or how do I get the current timezone?

`spacetime.now()` gets the utc time -

or if I knew the current timezone, I could do

`spacetime.now(timezone)`

Thanks.

[2020-08-10 17:55] jecraig commented on #219
I'm not sure what you're trying to do. The spacetime library will just default to whatever your browser time is to.

![image](https://user-images.githubusercontent.com/20190406/89814463-65a4bf00-db00-11ea-93bb-10c9d8a39384.png)

[2020-08-10 18:16] erjdriver commented on #219
I'm trying to use get the current time for the current timezone.

I'm using in the context of an app - the app is open and user changes timezones (in the phone or flies there) and I'd like to get the new local time in the local timezone...iow...i'm using a npm to create an android app and using it.

e.g. someone flies from NY to Denver.

`spacetime.now()` gets utc

The user can be in any timezone

[2020-08-10 18:21] jecraig commented on #219
Make sure your timezones have the correct tz names. To see the list that spacetime supports you can use
`spacetime.now().timezones`

And here's an example in use
![image](https://user-images.githubusercontent.com/20190406/89816397-c08be580-db03-11ea-825b-6131c59b741b.png)

[2020-08-10 18:29] erjdriver commented on #219
When I do `spacetime.now()`, I get

`{
JS:   "epoch": 1597014104271,
JS:   "tz": "utc",
JS:   "silent": true,
JS:   "_weekStart": 1
JS: }`

Note the tz is utc - not my timezone.

That's the problem I'm trying to solve.

I'm not using this lib in a browser. I'm using it to develop an Android app using Nativescript framework. I added this lib to the project using npm.

[2020-08-10 18:31] jecraig commented on #219
Try doing spacetime.now('america/new_york') or spacetime.now('america/denver') and see if the time that comes back with different times.

[2020-08-10 19:15] erjdriver commented on #219
That works.

But I'm trying to get the current device/phone timezone and time.

[2020-08-10 20:43] spencermountain commented on #219
@erjdriver yeah, if the browser doesn't support Intl, you may need to fallback to a 3rd party geolocation service

some use [maxmind](https://www.maxmind.com/en/locate-my-ip-address), though i have no experience with it
cheers

[2020-08-10 22:10] #219 closed

[2020-08-15 14:05] Nfinished opened #220 "[Typescript] Constructor won't accept ParseableDate"
When passing a value of type `ParsableDate` into the constructor it seems to get confused and disallow it, even though `ParsableDate`'s component types are all valid.

[code]

[code]

Entirely possible I'm just bad at TS and this shouldn't work.

[2020-08-15 19:33] jecraig commented on #220
Looks like you are correct. I've made a PR to address it and add the needed constructor definition.

[2020-08-15 22:13] spencermountain commented on #220
thank you!

[2020-08-23 07:51] DeLiKoO opened #222 "Typing issue with month(value)"
Hi,

First of all, thanks for this awesome library :)
Now, more about the issue, which occurs in TypeScript (only, I guess) :

- The month setter is defined as :
`month(value: string): Spacetime`

- Whereas the documentation states that its function is to :
`set the zero-based month-number (0-11). Also accepts 'June', or 'oct'.`

- The definition should probably be :
`month(value: string|number):

[2020-08-26 08:10] YuChingLinLisa opened #223 "isSame() performance"
Hi, I'm not sure if it's the expected behavior or a bug...?

While `year` is the same, everything is going well or saying that performed correctly as my expectation.
[code]
However, when I change only `year`, the return value will all go false even though month and date are the same.

[code]

Thanks for any reply......
Btw, I like this awesome library so much:)

[2020-08-26 09:16] #223 closed

[2020-08-26 09:22] YuChingLinLisa commented on #223
I eventually found out that I misunderstood the `isSame()`  method, now I get it. Sorry for the disturbing.

[2020-08-28 16:43] spencermountain commented on #177
hey Leo, this is fixed in `6.6.2`
thanks for the heads-up.

[2020-08-28 16:43] #177 closed

[2020-08-28 16:47] spencermountain commented on #222
this is fixed in `6.6.3`
thanks @DeLiKoO

[2020-08-28 16:47] #222 closed

[2020-09-01 03:03] Nfinished opened #225 "[Typescript] constructor won't accept combined type"
Hi! Coming at you with another typing issue in the constructor. No overload matches the call `string | Date` . I'm guessing this probably extends to other partial implementations of `ParsableDate` as well.

[2020-09-01 03:30] jecraig commented on #225
I just tried that out and it was able to use the ParsableDate overload just fine. What version of Typescript are you using, I tried with 3.9.7. The Typescript team has been improving the typing system to handle these situations better.

[2020-09-01 03:35] Nfinished commented on #225
Odd, maybe I jumped the gun and should've restarted my TS server in vscode. Definitely seems to be ok with it now. Thank you!

[2020-09-01 03:35] #225 closed

[2020-09-12 01:18] sudiptochoudhury opened #226 "`isoOffset` fails to calculate GMT+5:45 Asia/Kathmandu timezone, returns buggy output"
[code]

Shows:

`"+5.75:00"`

[2020-09-13 22:35] spencermountain commented on #226
Ah, good find. Will fix this week. Thanks Sudipto.

[2020-09-14 13:13] DeLiKoO commented on #222
Thank you Mr ! 👍

[2020-09-14 21:01] spencermountain commented on #226
released this as `6.6.4` - thank you!

[2020-09-14 21:01] #226 closed

[2020-09-14 21:01] #220 closed

[2020-09-17 07:04] johnfumaster opened #229 "Creating dates with Array returns incorrect date sometimes"
Sometimes when creating dates with spacetime and calling `d` property, it's returning the wrong date.

Set your machine's timezone to `Australia/Sydney`
Then create a spacetime object using:
`spacetime([2020, 9, 4])`

**Expected result:**
`d` should return October 4th

**Actual result**
`d` returning October 3rd

What's strange is when you create a date with `spacetime([2020, 9, 5])`, it return yo

[2020-09-17 16:50] spencermountain commented on #229
yeah, the d property doesn't have the offset applied, so it will be wrong some of the time.
it's pretty tricky, and I still get my head stuck on it sometimes,
but i think there's *no way* to create a javascript date of a remote timezone properly - because it's always implicitly in your local timezone.
Maybe we should deprecate `.d` or add a warning of some kind.

[2020-09-17 16:55] spencermountain commented on #229
i understand wanting to have a javascript date object but I think the best plan is to avoid it, when possible.

it would be nice if we could make a `spacetime.toDate()` or something, but I don't think it will be valid - there is probably just too many gotchas doing that.

[2020-09-17 17:03] jecraig commented on #229
We have spacetime.toLocalDate() already implemented to try and solve this. It returns a javascript Date that is in the same timezone as the current browser time.

<code>
	SpaceTime.prototype.toLocalDate = function () {
	  return new Date(this.epoch);
	};
</code>

[2020-09-21 12:00] johnfumaster commented on #229
@jecraig, I tried using `toLocalDate()` too.  Didn't help.  eg. If you go to `spacetime.how` and put this in the console...
`spacetime([2020, 9, 4]).toLocalDate()`.  You'd expect it to be **October 4th 2020**.  But it returns me **October 3rd 2020** instead.  It's just that date.  Any other date works as expected.  If my computer's timezone is changed to UTC, it would work.  But I can't enforce wh

[2020-09-21 12:06] johnfumaster commented on #229
@spencermountain I'm not trying to create a native date object in a remote timezone.  I've been creating and assigning spacetime objects for each day in a calendar.  I'm using the spacetime object to perform comparison operations for my date range select calendar, which doesn't need to know anything about timezones.

[2020-09-21 16:03] spencermountain commented on #229
hey @johnfumaster yeah, it's tricky, but this is the sort of issue I was describing.
The js date object is always implicitly in timezone, and will produce these sort of off-by-one errors around a dst change.
The epoch too, is not the correct time, until your offset is applied. A spacetime date is the application of the epoch and an offset.

You may have some success outputing iso strings, and crea

[2020-10-22 20:59] craigpaul opened #230 "Cannot find timezone named: America/Fort_Nelson"
Hey there, had an error pop up a couple of times lately stating that spacetime cannot find a timezone named `America/Fort_Nelson`. Did a quick search of the source code and it appears that it is indeed not there to be found haha. Is it possible to add that timezone to the build?

https://timezonedb.com/time-zones/America/Fort_Nelson

[2020-10-23 19:11] spencermountain commented on #230
hey, of course -  good find.
Happy to add it in.
if you're in a pinch, you can add it to `./zonefile/iana.js` and run `npm run pack`
otherwise, i'll add this in the next release
cheers

[2020-10-23 19:20] craigpaul commented on #230
Awesome! Thanks Spencer!

[2020-10-23 22:21] ndimatteo opened #231 ".since().diff returning inaccurate minutes/seconds when diff minutes go from 0->59"
![error-spacetime](https://user-images.githubusercontent.com/737188/97058706-8ce62680-155c-11eb-923d-33cba9214278.gif)

Hey there @spencermountain 👋

I'm using `spacetime` in a react site to build out a countdown ticker. I'm using `.since().diff` to compare the current time with a date in the future, and updating the countdown with the values returned.

Unfortunately, I noticed that when the "minu

[2020-10-23 22:34] ndimatteo commented on #231
I also logged the `.diff` at this crucial moment:

![image](https://user-images.githubusercontent.com/737188/97059255-f450a600-155d-11eb-9287-37dd2df40b5c.png)

You can see the minutes get nuked to `0` and the seconds are a wildly high 4 digit number.

[2020-10-25 18:05] ndimatteo commented on #231
Looked into this a bit more, and was able to confirm that it seems to only happen when I use a timezone for the `launch` compare date and it doesn't match the user's local timezone.

It works fine if I remove the timezone all together, or if I specify the same timezone as my own.

How can I properly compare the current time for the user against my `launch` time at a specified timezone?

[2020-10-25 18:35] spencermountain commented on #231
aahhh! yikes. what a great issue, and what an embarrassing bug.
thank you.
Yeah, I haven't been able to reproduce this. I'm not much of a react person, but I believe this is certainly a spacetime bug.

have you figured out a way to produce this, something like this?
[code]
it should definetly be able to compare two times in different timezones properly!
if launch is 4pm pacific, since() should rep

[2020-10-25 23:59] spencermountain commented on #231
Just got a theory about this. The seconds may forget about timezones while minutes dont. Will check it out in the morning, cheers.

[2020-10-26 13:26] spencermountain commented on #231
yeah, something is amiss.
[code]
yikes. gonna spend some time on this this morning

[2020-10-26 16:07] spencermountain commented on #230
fixed in `v6.7.0`
cheers

[2020-10-26 16:07] #230 closed

[2020-10-26 16:07] spencermountain commented on #231
fixed in `v6.7.0`
cheers

[2020-10-26 16:07] #231 closed

[2020-10-26 16:07] ndimatteo commented on #231
Hey @spencermountain sorry for the delay! Thanks for taking a look at this, and no worries at all. It definitely felt like a more obscure issue for sure!

[2020-10-29 17:46] #182 closed

[2020-10-30 13:21] neutraltone opened #235 "Incorrect offset near DST boundary when converting UTC to CST."
## Information
**Spacetime Version:** v6.8.0
**Example:** https://codesandbox.io/s/inspiring-voice-qnons?file=/src/App.vue

## Browsers Tested
- Firefox
- Safari
- Chrome

I've experiencing a problem with timestamps that are near the DST boundary and converted to CST when the users system is set to CST as well.

I have a timestamp which is being returned from my API in UTC, I'm then using spacetim

[2020-10-30 19:49] spencermountain commented on #235
hah, sorry. I spoke too soon.
Just found an issue - it's probably the same as yours. Will check it out and get back to you.

[2020-10-30 20:15] spencermountain commented on #235
here's a reproduction, if it's helpful.

[code]
this passes on my computer, between 7pm and 9pm only - amazingly, this is when I wrote the tests and published `6.8.0`.
I'm EST, but the tests run in UTC-0, i think.

ughh.

[2020-11-03 19:03] craigpaul opened #236 ".day() mistake over fall dst change"
I encountered an odd problem this morning (which I believe to be a very small edge case potentially). When I am using a custom start of the week (Monday for ISO purposes) and ask for the start of the week with the date being November 1st, 2020, it (which is actually a Sunday of course), tells me that is the start of the week.

[code]

That _should_ instead be returning Oct 26th, 2020 I believe. An

[2020-11-04 14:24] spencermountain commented on #236
whoa, yeah. this is bad.

[code]

[2020-11-04 15:05] spencermountain commented on #236
got a fix on dev, will be part of the next release, hopefully this week.

[2020-11-04 15:06] craigpaul commented on #236
Awesome, thanks for the quick fix Spencer!

[2020-11-05 15:37] #229 closed

[2020-11-05 15:49] spencermountain commented on #235
slept on this a few nights,

since we repeat an hour in fall-dst, there are 2 `1:00am` hours, one with dst-on, and one with dst-off.

it's always going to be ambiguous which hour we are going to land on, when we sat `1:30am`.
but unfortunately, spacetime seems to be picking different ones, based on which time it is locally - as though it comes at it from different directions.

haven't got a fix ye

[2020-11-05 19:24] spencermountain commented on #236
fixed in `6.9.0`

[2020-11-05 19:24] #236 closed

[2020-11-11 12:51] coatesap opened #238 "time() should accept 12-hour times that contain a space before the am/pm suffix"
Currently the `time()` setter accepts a 12-hour time in the format "6:30pm", however "6:30 pm" fails.

[code]

Having a space before the am/pm suffix seems fairly common, and therefore should be supported.

Happy to create a PR for this if that is acceptable.

[2020-11-11 13:23] #238 closed

[2020-11-11 13:23] spencermountain commented on #238
👏👏

[2020-11-12 19:55] rem4ik4ever opened #240 "Passing undefined, null, false, {} to spacetime returns current time"
## Information
We recently ran into an issue where passing null, undefined values to spacetime was returning current time. I ran a few tests and it appears that passing `undefined, null, false, {}`  have this behaviour.

![Screen Shot 2020-11-12 at 1 26 31 PM](https://user-images.githubusercontent.com/3874496/98989195-c2948480-24f6-11eb-9913-9bf1a07248b7.png)

I wonder if that is intended behaviou

[2020-11-13 14:15] spencermountain commented on #240
hey Rem! yeah, this is a good observation, and something we should tighten-up.
yeah, `null` and `undefined` were intentional, but the other ones are making me scratch my head.

Lemme think about this a bit.
cheers

[2020-11-13 14:34] spencermountain commented on #240
yeah, I figure `false` should behave like null and undefined.

`'2011-11-33'` is right to be invalid.

but `{}` and `[]` are both messed-up. They should return the same as null.
thanks

[2020-11-13 15:43] jecraig commented on #240
@spencermountain I've been wondering if a strict constructor flag would be useful so people can use it when they might not have the input fully sanitized.

[2020-11-13 16:16] rem4ik4ever commented on #240
@spencermountain thanks for your response.
We usually run our own validation to see if data we pass is indeed a valid date string or object. However there are times where data comes back from server as null and one would assume that it should be invalid however its not.

@jecraig I can see that as a useful feature.

[2020-11-14 21:23] spencermountain commented on #240
empty `[]` and `{}` now return 'now' like null, false and undefined. released in `6.10.0`.
thanks!

[2020-11-14 21:23] #240 closed

[2020-11-16 22:33] scottholdren opened #242 "Timezone 13h - New Zealand"
We are getting invalid timezone errors from New Zealand, where the timezone is being reported as '13h'.  +13 isn't valid according to

`const toIana = function(num) {
  num = Number(num)
  if (num > -13 && num < 13) {
    num = num * -1 //it's opposite!
    num = (num > 0 ? '+' : '') + num //add plus sign
    return 'etc/gmt' + num
  }
  return null
}`

If I expand the range for num, it sets the t

[2020-11-17 13:34] spencermountain commented on #242
hey scott, thanks for the issue.
Just to clarify, you are entering `spacetime(null, '13h')` right?
it does get pretty tricky when date formats reverse the offset. I'm happy to add a `<= 13` if that solves your problem.
cheers

[2020-11-17 16:44] scottholdren commented on #242
Thank you for taking a look.  13h is coming from the browser, we're not setting the tz it's just autodetecting from the browser.  I've tested out `<= 13` and it does seem to fix the error and the date/time looks correct.

[2020-11-17 17:54] scottholdren commented on #242
Clarification - this is the relevant code we are using:

`let currentOffset = spacetime.now().timezone().current.offset.toString();`
`return spacetime(date, 'Etc/GMT').goto(currentOffset + 'h').d;`

so we are getting 13 as an offset from spacetime, but an error when we try to convert using that offset.  I believe 13h or 13 or +13 would all cause an error.

[2020-11-18 02:59] akilansengottaiyan opened #243 "America/Dawson is now a non DST timezone."
Good day!
In the latest update 6.10.0, no DST is present in America/Dawson timezone.
Looking in the code America/Dawson tz has been moved from `"-7|n|03/08:02->11/01:02"` to `"-7|n"` in `zonefile/_build.json`
in this PR **https://github.com/spencermountain/spacetime/pull/241/.**
If I am right, this change has removed DST for America/Dawson timezone but it shouldn't.
Since this change, America/Daws

[2020-11-18 16:25] spencermountain commented on #243
hey Akilan, thanks for the issue. I think you're right.
I read [this](https://www.timeanddate.com/news/time/yukon-canada-permanent-dst.html) and I was trying to be clever by being early, and removed this dst change manually.
That was probably a dumb idea - out of curiosity, how did you find this was out of alignment with zoneinfo?
good catch!

[2020-11-19 08:14] akilansengottaiyan commented on #243
Hey Spencer, thanks for the quick reply and this awesome library. I am using **react-timezone-select** which in turn uses spacetime's zoneinfo. I figured out a bug in the library related to the timezone in question and while tracing the bug it landed me here. When I could expect this to be fixed? If the fix is just reverting the change, I would like to raise a PR.

[2020-11-20 21:04] spencermountain commented on #243
sure, I can do a release on Monday.
cheers

[2020-11-20 22:13] spencermountain commented on #243
ok the yukon dst has been added back now, in v6.10.1
appreciate your help
cheers

[2020-11-20 22:13] #243 closed

[2020-11-20 22:13] spencermountain commented on #242
fixed in `v6.10.1`
thanks for your help. Let me know if the issue continues.

[2020-11-20 22:13] #242 closed

[2020-12-15 19:32] KaylaBrady opened #251 "i18n month/day lowercase"
`i18n` accepts list of month/day names for non-English languages, but these are always displayed in title case. However, that is not always the standard way to display a date - ex: in French and Spanish, day / month names may be lowercase.
https://github.com/spencermountain/spacetime/blob/8d00921797fb0190345029264ad4ae5ffa225677/src/methods/format/index.js#L17

What is the intention of having thes

[2020-12-15 19:37] lukasfroehlich1 opened #252 "Test cases fail when system clock not set to Toronto"
Hi,

I'm interested in contributing to the library but I'm unable to get the daylight savings test cases passing after pulling from master. I'm currently based in mountain time and when I update my system clock to Toronto the tests end up passing. I'm happy to take a stab at fixing the issue but will need a hint on how to fix this issue.

Thanks!

[2020-12-15 19:42] spencermountain commented on #252
whoa!
i just reproduced this.
sorry - I thought these days were past.
Feel-free to ignore these, i will take a look at them.
Thanks for the heads-up. 😅

[2020-12-15 19:50] KaylaBrady commented on #207
Hi -- having a similar issue here when trying to use unixFmt to format a time for display in French.

[code]

[2020-12-15 19:53] spencermountain commented on #252
yeah, looks like it's #235 again - off by an hour, within an hour of a DST change:
[code]
the tests pass in all the other locales I tried, briefly. Will take a closer look when I have some time.
cheers

[2020-12-15 19:57] spencermountain commented on #207
ah - thanks Kayla. Good eye.
Will take a look at supporting the quote-style escaping.
In the short-term, you'll probably have to split it into two fmt commands.
cheers

[2020-12-15 20:03] spencermountain commented on #251
hey - good question. I really have no opinions on this.
I suppose the lowercase version is used internally, then we assumed everyone titlecases them.
Any solution to this is welcome.
cheers

[2020-12-16 14:31] KaylaBrady commented on #251
@spencermountain Here's a possible solution! https://github.com/spencermountain/spacetime/pull/253

[2020-12-16 15:26] KaylaBrady commented on #207
Thanks! It seems to be only an issue when there is not a space before the quoted character -- ex
[code]

[2020-12-18 17:37] spencermountain commented on #207
fixed in `v6.12.2`
thanks!

[2020-12-18 17:37] #207 closed

[2020-12-18 17:37] spencermountain commented on #251
this is released now as `v6.12.2`
thank you!

[2020-12-18 17:37] #251 closed

[2020-12-29 14:51] Serraniel opened #255 "Typescript: Constructor Options missing"
According to https://github.com/spencermountain/spacetime#ddmmyyy-interpretation an object can be passed with `dmy: true` to enabled a *DD/MM/YYYY* interpretation:
[code]

However, this constructor is not allowed according to the type definitions delivered:
![image](https://user-images.githubusercontent.com/8461282/103292234-b81e4380-49ed-11eb-8f0d-635ddd65fa84.png)

[2021-02-03 23:43] spencermountain commented on #255
released in 6.12.3
thank you!

[2021-02-03 23:43] #255 closed

[2021-02-09 13:43] ljukas opened #259 "same type exported twice causes typescript errors"
In one of the latest commits:
https://github.com/spencermountain/spacetime/commit/581f6a1e53718e12454bd7e94498785f5fb983f0

This change was added:
![image](https://user-images.githubusercontent.com/11976354/107371832-06425e80-6ae5-11eb-87b0-1a5cdd5eddc6.png)

Because of this both the constructors.d.ts and types.d.ts files exports the same interface, the TimezoneSet, which results in the following

[2021-02-09 14:54] spencermountain commented on #259
ahh, thanks. I suck at typescript.
Will fix this. Thanks for the heads-up.

[2021-02-09 18:39] ljukas commented on #259
Great! Thanks!

[2021-02-09 20:20] spencermountain commented on #259
ok, should be fixed in `6.12.4`. Let me know if it aint.
thanks for the heads-up.

[2021-02-09 20:20] #259 closed

[2021-02-27 23:39] frenchbread opened #262 "Week numbers"
Hey,

Thanks for a very good library!

I've just noticed a little issue. When using `.every(...)` function to list dates **with week number**, for some reason at the end of year I get something like this:

[code]

... and it does not look right since week lasts no longer than 7 days.  Have not tested it for every year, but for '21 I get this:

[code]

PS. I'm using this within vue app which requir

[2021-02-28 22:49] spencermountain commented on #262
yikes!
will check it out this week.
thank you

[2021-03-02 18:51] davidramsay95 opened #263 ".dayName() type not defined"
We encounted an issue while using the library with Typescript.  .dayName() is defined in the docs but no type exists for it!

[2021-03-02 21:45] spencermountain commented on #262
hey @frenchbread - I reproduced this, and found a bunch of problems. Thanks for your help.

I've tweaked `.week()` to allow returning [a 53rd week](https://en.m.wikipedia.org/wiki/ISO_week_date), and released this as **6.13.0** -  But I agree it's pretty awkward, skipping right to the 2nd week:

[code]

`.week()` calculates ISO week by which year the Thursday falls, but that is creating some unint

[2021-03-02 21:45] spencermountain commented on #263
woops!
thanks David.
fixed as `6.13.0`

[2021-03-02 21:45] #263 closed

[2021-03-03 11:50] frenchbread commented on #262
Hi @spencermountain,

Thanks for quick response.

I'll keep this in mind, this though fix should be enough for my issue.

[2021-03-08 16:37] naziko2411 opened #266 "Will it work for a website for various dates?"
Hey, there! I was wondering if it works on websites for a specific dates and years.

[2021-03-08 16:54] spencermountain commented on #266
hi @naziko2411 , you'll have to describe your question more clearly for me to help you.
cheers

[2021-03-09 22:50] ericawilson9 commented on #252
@spencermountain did you ever resolve this issue? Experienced this issue starting yesterday (Monday, March 8th, 2021)...one year after daylight savings 2020. Any insight would be greatly appreciated.

[2021-03-10 14:43] spencermountain commented on #252
whoa - @ericawilson9 if you wanna join a skype call today or something, my email is spencermountain@gmail.com

yeah, I don't understand why the entire day would be effected. The only effect of this (known) bug is that people in 1-2am may think they're in 2-3am, which they will be soon.

It sounds like you're running on an older version - and this edge-case has improved since. It may be worth tryin

[2021-03-10 19:46] beliolfa opened #267 "DST is applying already in USA?"
I noticed on a site that I have in production that is showing a difference of 1 hour since March 8 although DST starts next weekend.

I took a look at the library tests and they rely on March 8 of 2020 for testing but it looks like 2021 is wrong?

Is there something I can do to fix that or it is in fact a bug?

`spacetime('2021-03-11 00:00:00', 'UTC').goto('America/New_York').format('{month} {date

[2021-03-10 19:58] beliolfa commented on #267
Sorry, I've updated to the latest version and it is now fixed!

[2021-03-10 19:58] #267 closed

[2021-03-10 20:40] spencermountain commented on #267
thanks Javier, I'm working on a version that won't need to be updated each year.

[2021-03-22 15:35] naziko2411 commented on #266
For example, Google. Using it with specific dates and years.

[2021-03-22 16:34] spencermountain commented on #266
yes.

[2021-03-23 08:50] naziko2411 commented on #266
Thank you!

[2021-03-23 08:50] #266 closed

[2021-03-23 08:50] naziko2411 commented on #266
I will ask more questions later.

[2021-03-28 08:33] naziko2411 opened #271 "Where can I install spacetime?"
I know it's just a basic question. I don't know how I install spacetime for using dates and specific websites.

[2021-03-29 14:18] spencermountain commented on #271
[code]

[2021-03-29 14:52] naziko2411 commented on #271
Thank you.

[2021-03-29 14:52] #271 closed

[2021-04-14 07:53] AbhiPanseriya opened #277 "Error running spacetime"
![image](https://user-images.githubusercontent.com/42121122/114674061-74ddab80-9d24-11eb-9cf7-c53e9e6f0ddc.png)

got this error while running my angular build.

[2021-04-14 14:37] spencermountain commented on #277
thanks Abhi, i'm seeing this too. The rules around this must have changed recently.
happy to fix this
cheers

[2021-04-14 18:45] naziko2411 opened #278 "Can I use websites for previous dates using Spacetime?"
Such as Google, am I able to use previous dates using Spacetime? I'm curious!

[2021-04-14 19:15] spencermountain commented on #278
yes!

[2021-04-14 19:15] #278 closed

[2021-04-15 06:17] naziko2411 commented on #278
Thank you!

[2021-04-15 10:08] naziko2411 opened #279 "Couldn't find spacetime"
I visited unpkg.com but I couldn't find spacetime. Where can I find it?

[2021-04-15 12:52] spencermountain commented on #279
https://unpkg.com/spacetime

[2021-04-15 16:35] naziko2411 commented on #279
Thanks.

[2021-04-15 16:36] naziko2411 commented on #279
But I didn't understand how I code it.

[2021-04-15 17:45] #279 closed

[2021-04-15 17:46] spencermountain commented on #277
fixed on  6.16.0
thanks

[2021-04-15 17:46] #277 closed

[2021-04-16 08:59] AbhiPanseriya commented on #277
thank you so much

[2021-04-16 09:30] leemhenson opened #281 "DST tests failing"
Hi. When I run `npm run test` on `master` (`6.16.0`) locally, I get this output:

[code]

Which matches what I've just seen in my application where:

[code]

prints out:

[code]

when I was expecting `intervalEnd: 2019-11-01T00:00:00.000Z`.

[2021-04-16 14:10] spencermountain commented on #281
thanks Lee, yeah,  my gut-sense is that this is #235 - this look like the *very-close to dst* tests.
That's running from `Europe/London` at ~10am? I've seen something like this before, but will try and reproduce it.

I'm working on a fix for 235 that will compute dst changes and store them as epochs. This will be a relief, as this bug has been trouble for a while.

- Good news, i think the 11 fail

[2021-04-17 10:00] naziko2411 opened #282 "Can I revisit websites for previous dates such as in 2018 or 2019?"
I have another question. I was wondering that can I revisit any websites for my curiosity?

[2021-04-17 16:20] spencermountain commented on #282
Are you talking about viewing saved snapshots of webpages on the internet?
I would use something like https://archive.org/web/

This does not have anything to do with this software library,
Please only create issues if you find problems with this library. Thank you.

[2021-04-17 16:21] #282 closed

[2021-04-17 16:29] naziko2411 commented on #282
You're welcome.

[2021-04-27 17:49] jisaacks opened #284 "Timezone conversion issue, (goes wrong direction)"
Here is an example:

[code]

The hour is subtracted (goes from 2 to 1 during the time change) but it should be added (go from 2 to 3)

[2021-04-28 08:58] YixiongJiang opened #285 "Year addition perform unexpected result when value is a multiple of 5"
[code]
Expected: "2030-01-01 00:00:00"
Received: "2029-01-01 00:00:00"

It happens when unit is year and when the value is a multiple of 5.

Just curiosity, why not just add value to the year numerically?

[2021-04-28 12:56] spencermountain commented on #285
thanks @YixiongJiang good find. I'll check it out.
cheers

[2021-04-28 13:01] spencermountain commented on #284
hey @jisaacks thanks for the issue.
My gut says it's another example of #235 - this is a tricky case where using native js Date objects for the calculation - it's a chicken and the egg issue. I'll check it out today, to confirm
I've got a fix for this, and hope to release it sometime in may, but no promises.
cheers

[2021-04-28 13:08] spencermountain commented on #235
my plan is to pre-compute dst changes as epochs. This will let us guess dst-dates in the future, as well.

for reference, here is the original issue, from 2020 - https://github.com/spencermountain/spacetime/issues/182
cheers

[2021-04-29 02:19] YixiongJiang commented on #285
@spencermountain Thanks, for your more information, I found there is a workaround to avoid this bug:
date.add(30*12, 'month'),
will get correct result: "2030-01-01 00:00:00"

[2021-04-29 12:33] jisaacks commented on #284
Great thanks, I am subscribed to that one too.

Also thanks so much for this library I been wanting something like this for years.

I actually built my own (eerily similar) but it relied on `Intl`, don't understand how you did it without it!

[2021-04-29 18:10] spencermountain commented on #284
haha, thanks. I have woken up in the night thinking _'wait, how-the...'_
Like, there may be a conceptual reason why this should not work, and I just haven't realized it yet.
Been hoping the [temporal](https://tc39.es/proposal-temporal/docs/) folks just solve-everything and we can just go to the beach.

ok, since you seem like the worlds-best githubber, let me try to bait you to help -

[Here](http

[2021-04-29 19:34] spencermountain commented on #285
yikes! will add this to the next release, ideally next week.
thank you

[2021-05-12 15:36] coatesap opened #288 "toLocalDate() would be better named as toNativeDate()"
The method `toLocalDate()` is easy to misunderstand - it could mean something related to the user's local timezone. I've actually made this false assumption a couple of times when reviewing PRs in our own codebase.

It would be more intuitive if it was called `toNativeDate()`. Tellingly, this is how the comment in the types file already describes it:

[code]

Can I suggest that we rename the metho

[2021-06-12 21:06] Fleker opened #291 "String parser off by 12 hours in some cases"
I've been trying to use spacetime to parse some fancy date strings and have had issues with a particular format. This format is pulled from the client, which I can manually fix, but it'd be great if this case could be fixed upstream. It seems like only in this case the 'PM' string doesn't get parsed correctly if there is a space between the time and the PM.

Here are the examples of what I mean.

[2021-06-14 21:23] spencermountain commented on #291
hey Nick, good find!
Looks like a quick regex change - happy to fix this.
cheers

[2021-06-14 23:43] spencermountain commented on #291
fixed in `v6.16.2` - cheers

[2021-06-14 23:43] #291 closed

[2021-07-14 05:43] mchangrh opened #294 "outdated timezones"
upstream from https://github.com/spencermountain/timezone-soft/issues/9

the current zonefile and aliases are out of date, `america/argentina/cordoba` is canonical and doesn't exist on zonefile or backwards.json

[2021-07-14 07:44] mchangrh commented on #294
I have spent way too long getting into timezones and naming.

I have a bad version that doesn't follow changes like yours on macos.

<details>
<summary>what went wrong and why</summary>
<br>
I went off of the latest freebsd zoneinfo - https://pkgs.org/download/zoneinfo which has historical data, rendering more than 4 lines, which isn't passed to parseTz since it is not 4 lines.

</details>

I conc

[2021-07-14 12:51] spencermountain commented on #294
yeah, you're right. this thing is a mess.

I built this timezone-soft library in a rush for a spacetime client - and the only source of truth was ianas-spacetime-knows. I cheated by adding some old ones, and fudging things here and there.

But I think this timezone project is important - and worth doing well. I really appreciate your help. You're right, the library should transform all old mapping

[2021-07-14 17:58] mchangrh commented on #294
Currently, the source of truth that I'm using is the [IANA database](https://data.iana.org/time-zones/data/) and if it would make things easier, I can try to create parsers for DST and timezone offsets like I have for all timezones

https://github.com/mchangrh/tzdb-names

That's how I generated the full list and deprecated lists, and hopefully it should be easier to read than zdate

[2021-07-14 18:07] spencermountain commented on #294
ya that would be helpful! My scraper of tzinfo is garbage.
also -niles-bot looks neat!

[2021-07-23 11:18] coatesap commented on #288
Thanks @jecraig - I'll close this now.

[2021-07-23 11:18] #288 closed

[2021-07-23 11:24] coatesap commented on #294
Hi @spencermountain - is there any appetite to swap this library over to use the Intl API for timezone support, rather than bundling timezone files in the package?

We're currently looking to move away a large application from Spacetime to something like DayJS or Luxon because of the issues and risks around using timezone files that may not be updated regularly (not to mention our responsibility f

[2021-07-23 14:03] spencermountain commented on #294
hey Andy, yeah, I plan to either deprecate, or refactor this library once the [Temporal API](https://tc39.es/proposal-temporal/docs/) lands. It's looking like it's not until next year now. AFAIK, there's no way to retrieve dst-change dates from the Intl API. cheers

[2021-07-27 08:26] coatesap commented on #294
Maybe I'm misunderstanding what the timezone files are used for. Are they not used to determine the correct new local time when using the `goto()` method?

[2021-07-30 09:35] coatesap opened #296 "Adding a day fails when interval falls over a DST change"
[code]

https://jsfiddle.net/coatesap/bk5p3avw/

[2021-07-30 10:53] coatesap commented on #296
I've submitted a #297 to fix this now.

This caused a nasty bug in our app, as `every()` relies on `add` working correctly, so generating date ranges over a DST change was completely screwy.

[2021-08-03 15:46] #296 closed

[2021-08-03 15:46] spencermountain commented on #296
thank you for your help!

[2021-08-06 15:27] sviluppo opened #300 "Angular Universal - Server Side Rendering - Error Type"
Hello,

i am issuing an error similar to this one #https://github.com/spencermountain/spacetime/issues/144

Basically i am importing spacetime in this way:

`import spacetime from 'spacetime;`

And this works without problem if i use `ng serve` but it breaks SSR that gives me:

`ERROR TypeError: Cannot read property 'now' of undefined`

If i change the import to:

`const spacetime = require('space

[2021-08-06 16:08] spencermountain commented on #300
hey Alberto, I'll admit I'm not a typescript or angular guy, so I may not be much help here.
Are you on `6.16.2`?
I get `import * as spacetime` working in vanilla node. Do you suspect this is an error with the typescript types, or with babel/whatever angular uses to build?
@jecraig any thoughts?
cheers

[2021-08-06 16:22] mchangrh commented on #294
My issue was with downstream timezone-soft checking against spacetime for valid IANA timezone names.

The timezone files are used for determining dst offset and timezone names  (including `goto()`)

eg `s.now('America/Indiana/Knox')` and then DST offset & rollover dates for that timezone

[2021-08-06 17:28] spencermountain commented on #285
fixed in `v6.16.3` - thank you!

[2021-08-06 17:28] #285 closed

[2021-08-06 21:45] jecraig commented on #300
I tried creating a new Angular Universal app and had no issues.

![image](https://user-images.githubusercontent.com/20190406/128573902-874c88a4-dc9b-4fa9-ac45-a955fcab6bb3.png)
![image](https://user-images.githubusercontent.com/20190406/128573918-564da758-d904-42a4-a956-c0f9bc675820.png)

https://github.com/jecraig/AngularUniversalDemo

[2021-08-09 09:42] sviluppo commented on #300
Thank you both for your time.

Yes @spencermountain i was on `6.16.2` but i have now updated to the `6.16.3`.

@jecraig i have checked your DemoApp, i tried to change your app settings to angular 8 version but "playing" with your app trying to reproduce the problem i figured out that the problem it's probably in my `tsconfig.server.json`

This is mine, if i remove `module` and instead i add `"targ

[2021-08-09 14:15] tomfen opened #302 "'yy' format in unixFmt doesn't pad with zeros"
https://github.com/spencermountain/spacetime/blob/ea703a7d557efd90ccae894db96368d750be93b6/src/methods/format/unixFmt.js#L14-L17

This fails if the two last digits begin with a zero (eg. 2000). Parsing to int should be removed.

[2021-08-09 15:07] jecraig commented on #300
Those options are all about setting how the modules are loaded. Frankly, I'm no expert on it, but changing your module resolution is legit.

[2021-08-09 16:36] spencermountain commented on #302
hey @tomfen - thank you. this is a good find.
will add it to the next release.
cheers

[2021-08-10 07:03] sviluppo commented on #300
Ok thank you! I will try it.

[2021-08-13 07:47] nmaas87 opened #303 "unixFmt('ww') wrong / Calender Week of Year"
Dear all,

[code]

is giving me 33, while it is Calender Week 32...
Any ideas?

[2021-08-22 20:31] spencermountain commented on #303
hey thanks Nico, apologies for the delay.

if you run this in the cli:
`date +"So this is week: %U"`
it appears our results are in-line with the unix date command.  That's what we should return, i think.

I think it's probably just a off-by-one confusion, can you confirm?
thanks

[2021-08-22 21:02] nmaas87 commented on #303
Hey there :)
Sorry I cannot confirm:

https://man7.org/linux/man-pages/man1/date.1.html
[code]

trying this in WSL gives me:
So this is week: 34
(I am on a Windows 10, German machine, but as date is configuring Sunday to be first day of the new week (in Germany we have monday as first day ;)) - this is correct)

Spacetime tells me on the same machine its week: 34, so far so good.

However, if I se

[2021-08-23 13:26] spencermountain commented on #303
oh right - good observation. If I remember, we define weeks as starting on monday, and the first week is one with a thursday in it. I can look into how the unix command defines it, and write some documentation.
cheers

[2021-08-23 13:30] nmaas87 commented on #303
Yeah, but it seems to be still one week ahead of the real one and I have to decrement 1 as written above.
Maybe you could check if its something you could observe as well :)

[2021-09-01 16:31] svey opened #304 "spacetime('9-1-2021').unixFmt('MMM') === 'Sept'"
The issue I'm seeing is `spacetime('9-1-2021').unixFmt('MMM') === 'Sept'`— unless I'm missing something, I believe this should be a 3 digit month. Same for `.format('month-short')` although if the ladder remains 4 digits I guess month short is subject to interpretation

[2021-09-01 19:07] spencermountain commented on #304
hey @svey - i'm confused what the issue is - is it the input format, or the 'MMM' output?
both seem valid to me, can you clarify
thanks

[2021-09-03 22:47] svey commented on #304
Hey @spencermountain — sorry for the confusion. Every other library I've tried MMM unix formatting return a 3 characters month. Only on spacetime does this return 4 characters and it's only for September— our team only discovered this a few days ago when the month hit September and our testing suite is looking for 'Sep'. Just seems odd that MMM [Jan, Feb, Mar, Jun, Jul, Aug, Sept, Oct, Nov, Dec].

[2021-09-07 13:51] spencermountain commented on #304
ahh, yeah. I agree. I don't know why it does 'Sept'. I've seen this too.
I will add this to the next release. Sorry about that. Agree we should return the same as the other libs here.
cheers

[2021-09-21 20:32] svey commented on #304
thanks @spencermountain !

[2021-10-22 17:24] RajMhatre20 opened #306 "The GitHub Icon on Home Page is displaced"
The GitHub link and icon on the home page is separated from each other
Current state:
![image](https://user-images.githubusercontent.com/68785723/138497358-3d1dc144-220d-41ea-9fbf-2f5d96656adb.png)

we can embed the link into the icon for ease of use.

Can I work on this issue?

[2021-10-22 23:58] jecraig commented on #306
No problem. Just make a PR for it.

[2021-10-28 15:28] boyanraichev opened #307 "startOf not giving correct date"
I am having a very weird issue. I was startOf('week') to get the Monday of the week. It works correctly for many dates and suddenly when I try 2021-10-31 it gives a wrong result.

`spacetime('2021-10-31').startOf('week').format('{iso-short}')`

I get 2021-10-28 instead of 2021-10-25...

I thought it could be because of DTS, but I tried the DTS Sunday of other years and it was OK.

[2021-10-28 15:35] #307 closed, assigned to nobody

[2021-10-30 17:36] crazy-weasel commented on #262
Hi!

Skipping should not be necessary because the week always starts with week 1, even if some of the first days of a year belong to the week of the last year.

So 2021-01-04 is in week 2020-W01, and 2021-01-03 is in the same week as 2020-12-31: 2020-W53.

I generated the following week numbers with spacetime and added the correct week-number in parenthesis:
[code]

Greetings :)

[2021-11-01 13:37] spencermountain commented on #262
thank you @crazy-weasel - if there's something I can do to clear this up, please let me know.
If it's broken, it's probably because it hurts my head, just thinking about it.
cheers!

[2021-11-03 15:07] joshball opened #308 "silent option is not working"
I cannot trigger an [Ambiguity Warning](https://github.com/spencermountain/spacetime/blob/master/README.md#ambiguity-warnings) by setting the `silent `option to `false`

It looks like there is some faulty logic in [constructor](https://github.com/spencermountain/spacetime/blob/ce75eaaee5316971a548e84b276a712ad58f84a5/src/spacetime.js#L14):
[code]

That is strange logic to parse as written as `opti

[2021-11-04 20:25] spencermountain commented on #308
Hey Josh! Great idea. Pr welcomed!

[2021-11-16 08:29] dipeshhkc opened #309 "Difference of two timezone"
// browser time
`let now = spacetime.now();`
// now.time() -> **2:11pm**

//client time
`let client = now.goto("America/Los_Angeles");`
// client.time() -> **12:26am**

`let dif = now.diff(client, 'minute');`
// diff -> **0**

Why do I get 0 here? Am I missing something?

[2021-11-16 14:48] spencermountain commented on #309
yeah, awkward situation. They're the same time!
i swear we had a method for this, but I can't find it.
you can always do something like this
https://runkit.com/spencermountain/6193c3b2a6e04600084feaf0

which is a little awkward, but should work fine.

if there are any proposals for a better way to handle this, I'm happy to clean it up
cheers

[2021-11-16 15:32] dipeshhkc commented on #309
@spencermountain Thank you for your help :bow: It worked. Let me know if you find this

[2021-11-16 15:32] #309 closed

[2021-11-16 18:37] wokalski opened #310 "Leading zero in miliseconds field is ignored when parsing a string"
[code]

[2021-11-16 18:49] wokalski commented on #310
https://github.com/spencermountain/spacetime/blob/4465e077beefb102475fac2f07d02b0646f9cae6/src/methods/set/set.js#L9-L15

This is the culprit.

[2021-11-16 18:50] wokalski commented on #310
1231

[2021-11-16 19:18] spencermountain commented on #310
Oh my gosh, great find.
Apologies for the sloppy parsing.
Wanna make a pr?
Thank you.

[2021-11-16 21:03] wokalski commented on #310
I don't have time and insight to make a PR at this point. The parsing code is a bit convoluted and I already forgot where it was from the time I reported this issue.

[2021-11-16 21:39] spencermountain commented on #310
haha, no prob. I'll do a fix this week
cheers

[2021-11-22 22:35] wokalski commented on #310
While youre on it I found another issue. Sorry for the syntactic differences (I'm using rescript), but you'll get the gist:
[code]

gives me (in tests):

[code]

The correct value comes from Date.parse.

[2021-12-21 21:12] spencermountain commented on #310
hey @wokalski these appear fixed now on dev branch - will do a release in the new year
[code]
will leave this open until then
cheers

[2021-12-21 23:02] wokalski commented on #310
Great

[2022-01-03 00:08] Roman-Vala opened #312 "subtracting months issue"
Hi there,

I was subtracting months and got same result subtracting 25 and 13, how come ???

const firstOfThisMonth = spacetime.now().startOf('month');
const minus25Months= firstOfThisMonth.subtract(25, 'month');
const minus13Months= firstOfThisMonth.subtract(13, 'month');
console.log(firstOfThisMonth.iso(),minus25Months.iso(),minus13Months.iso());

2022-01-01T00:00:00.000+11:00
2020-12-01T00:00:0

[2022-01-03 01:13] spencermountain commented on #312
This is a very good issue. I will take a look tomorrow. Thanks

[2022-01-05 15:53] spencermountain commented on #310
released as 7.0.0

[2022-01-05 15:53] #310 closed

[2022-01-05 15:54] #302 closed

[2022-01-05 15:54] spencermountain commented on #312
fixed in 7.0.0
thanks for the heads-up.

[2022-01-05 15:54] #312 closed

[2022-01-05 15:54] spencermountain commented on #304
fixed in 7.0.0
cheers

[2022-01-05 15:54] #304 closed

[2022-01-05 15:55] #294 closed

[2022-01-05 15:55] #300 closed

[2022-01-05 15:57] #262 closed

[2022-01-05 15:58] spencermountain commented on #284
merging with #235  ->

[2022-01-05 15:58] #284 closed

[2022-01-06 00:44] Roman-Vala commented on #312
Thanks for the prompt fix!

[2022-01-06 10:24] zestzero opened #314 "Failed to compile after upgrading to 7.0.0"
When execute `npm build`
![Screen Shot 2565-01-06 at 17 21 07](https://user-images.githubusercontent.com/3611918/148368131-5c37f45c-2048-4970-9e70-168fbd61f11f.png)

checked in `node_modules/spacetime` doesn't contain `_version.js`
![Screen Shot 2565-01-06 at 17 21 22](https://user-images.githubusercontent.com/3611918/148368150-0d3be10b-98b3-46f6-a21d-f761f175b00a.png)

[2022-01-06 13:02] spencermountain commented on #314
Ahhh
Thank you. Gimme a few minutes

[2022-01-06 13:45] spencermountain commented on #314
fixed in 7.0.1 - thanks for the heads-up

[2022-01-06 13:45] #314 closed

[2022-01-06 15:56] Nfinished opened #316 "Error importing spacetime with nextjs: module not found"
No issues <7.0.0

[code]

[code]

[2022-01-06 16:33] #316 closed

[2022-01-07 03:41] zestzero opened #318 "Failed to compile after upgrading to 7.0.1"
Sorry I faced another fail after upgrading to 7.0.1

[code]

[2022-01-07 14:00] spencermountain commented on #318
Sorry about that, please try 7.0.2.

[2022-01-07 16:04] zestzero commented on #318
@spencermountain Working now thank you!

[2022-01-07 16:17] #318 closed

[2022-01-12 03:37] zestzero opened #319 "Error [ERR_REQUIRE_ESM]: Must use import to load ES Module"
[code]

My guess would be the package doesn't contain `.cjs`

[2022-01-12 15:19] spencermountain commented on #319
fair enough - fixed in 7.1.0
cheers

[2022-01-12 15:19] #319 closed

[2022-01-12 15:21] zestzero commented on #319
Thank you 👍🏻

[2022-01-22 10:04] Mitsunee commented on #308
would a simple change to this solve the issue?

[code]

That is what I use in modern-diacritics as both current node versions as well as all modern browsers now support the `??` operator (more info: [Nullish coalescing operator (??) on MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Nullish_coalescing_operator))

[2022-01-25 14:22] spencermountain commented on #308
yep! that sounds good to me.
thanks

[2022-01-28 07:38] ansf opened #321 "Documentation not working"
The "Full API" link leads to https://observablehq.com/@spencermountain/spacetime-api which seems to be broken (just a bunch of  `RuntimeError: The string did not match the expected pattern` messages).

There is also the API section at the bottom of https://spacetime.how but this seems incomplete (specifically, I am missing the `epoch` property).

[2022-01-28 11:48] sh1001 commented on #306
I see the issue is not solved yet. @jecraig I think [spacetime site](https://spacetime.how/) is being hosted separately and is not included in this source code.

[2022-01-28 19:52] spencermountain commented on #321
ahh - this got borked in the last release.
fixed. thank you

yeah - we should fix/document the `epoch` and `d` getters. Will add that to the next release
cheers

[2022-01-28 19:52] #321 closed

[2022-01-29 10:10] ansf commented on #321
cool! thanks for the quick response 👍

[2022-02-10 20:09] naissa12 opened #322 "I'm running into issues testing spacetime"
I running jest test file and getting the following error:

[code]
[code]

Can someone please help?

[2022-02-11 16:17] spencermountain commented on #322
hey @naissa12 spacetime uses es-modules on main, but builds common-js files as well. You can see the setup [here](https://github.com/spencermountain/spacetime/blob/master/package.json). I think this mostly follows best-practice.
I'm not sure how jest is configured.
cheers

[2022-02-22 15:22] Great-hijack commented on #212
Thanks for this great library. 🎉

When can we expect the next release with this resolved?

[2022-02-22 15:30] spencermountain commented on #212
hey @Great-hijack - sorry for the delay on this. Fraid v8 is looking like mid-summer.
cheers

[2022-02-24 10:03] Hectix opened #323 "Cannot find timezone named: 'Africa/Asmara'"
Error in render: "Error: Spacetime: Cannot find timezone named: 'Africa/Asmara'. Please enter an IANA timezone id."

To my knowledge, this is a valid IANA timezone. Can this be fixed?

[2022-02-24 21:59] spencermountain commented on #323
hey @Hectix - yeah, it's amazing how tricky these timezone ids are.
i believe the iana code is now `Africa/Asmera` - although we should support both.
Maybe we should add [this list of aliases](https://github.com/spencermountain/timezone-soft/blob/ddff1b4b7da0ccd738ec1e93a48f95a656397976/data/more/aliases.js) - or if there are more, please let me know.

You can see the current (and evolving) set of

[2022-02-24 22:04] Hectix commented on #323
#324 Merged. @spencermountain Thanks!!!

[2022-02-24 22:09] #323 closed

[2022-03-06 23:24] gk061090 opened #330 "Invalid date string parsing"
Hi. Seems to be a bug.
I entered the month incorrectly:
[code]
I entered the day and month incorrectly:
[code]

[2022-03-07 23:36] svey commented on #322
@naissa12 did you find a solution— I just hit the same issue upgrading from 6.12.3 -> 7.1.2

[2022-03-08 02:06] svey commented on #322
Can confirm that reverting from back to 6.12.3 fixes the issue in jest.

[2022-03-08 03:01] svey commented on #322
@spencermountain probably related to this: [[change] - convert to ES-modules, + exports fields](https://github.com/spencermountain/spacetime/releases/tag/7.0.0)

I'm not ready to open a new issue yet but it's odd to me as we just tried to bump the version for the: [change] - update to 2022 DST dates

[2022-03-08 03:09] svey commented on #322
@spencermountain disregard I fixed it— babel throwing a ton of errors but I think it's not on spacetime side:

in case someone stumbles upon this: https://jestjs.io/docs/getting-started#using-babel

you need `node: 'current'` in your targets list!

[2022-03-08 04:39] svey commented on #322
@naissa12 @spencermountain — I fixed it.

@naissa12 try bumping you package.json:
# deps
"spacetime": "7.1.2",
# dev deps
"@babel/core": "^7.17.5",
"@babel/preset-env": "^7.16.11",

and in jest.config.js add:

[code]

so simple looking at it but I've been trying for 6 hours 😭

[2022-03-08 15:57] jecraig commented on #330
I would advocate for leaving it as is. @gk061090, you can pass in whether you want dmy in the spacetime constructor.

spacetime('12/01/2018', null, { dmy: true }) //jan 12th

[2022-03-08 20:19] gk061090 commented on #330
Thanks. I think it's enough to create an abstraction over spacetime and pass the parameter `{ dmy: true }`.
But I also have a problem with `yyyy-MM-dd` format:
[code]
How can I fix it? Sorry I forgot to write this case in the first message

[2022-03-08 20:26] jecraig commented on #330
There is no 13th month so 2022-13-02 can't be a ymd.

[2022-03-08 21:53] gk061090 commented on #330
Right, and `spacetime("2022-13-02").isValid()` should be `false` (not `true`). Also `spacetime("2022-13-02").unixFmt("yyyy-MM-dd")` returns `"2022-02-13"`

[2022-03-12 22:05] Nfinished commented on #235
Hi, still an issue I think? Unless I'm doing something silly. One hour off.

![Image 2022-03-12 at 5 04 59 PM](https://user-images.githubusercontent.com/1719791/158036657-22e47172-3779-4bb1-9858-8be93d315e09.jpg)

[2022-03-13 22:18] #330 closed

[2022-03-25 11:25] lukevella opened #331 "Wrong type returned for time()"
Hi, I noticed there seems to be a mistake in the types for the `time()` method. Currently it returns `number` but it actually returns a `string`.

https://github.com/spencermountain/spacetime/blob/3a6d8c3ff5db68ec6956e0f3273862eb5a828c04/types/types.d.ts#L195

[2022-03-25 11:45] spencermountain commented on #331
ahh, good catch. thank you.

[2022-03-28 11:03] thomasdowell opened #332 "tomorrow() doesn't move to Europe/London timezone correctly"
Yesterday, the clocks went forward 1 hour in the UK. The tomorrow function now moves to the Europe/London timezone incorrectly:
- `spacetime.today().goto("Europe/London").d` returns 2022-03-28T**00**:00:00.000Z (correct)
- `spacetime.tomorrow().goto("Europe/London").d` returns 2022-03-29T**01**:00:00.000Z (incorrect)

I am using version 6.15.1, so please accept my apologies if this issue has alrea

[2022-03-28 12:51] spencermountain commented on #332
hey thomas, yeah, the current version has up-to-date dst change-over  times, you can see it [here](https://runkit.com/spencermountain/6241ae1f7f35280008fac57d)

I am going to do that this summer - and i'd really like some help. The '2nd sunday' stuff is surprisingly hard to come-across, for different timezones. Right now we have to keep updating the library. I've started working on organzing the d

[2022-04-08 07:54] ansf opened #333 "dayOfYear method missing in typescript"
Using version 7.1.2, the following code does not compile in typescript:

[code]

error is:

`error TS2339: Property 'dayOfYear' does not exist on type 'Spacetime'.`

According to https://observablehq.com/@spencermountain/spacetime-api, this method should exist.

Am I doing something wrong, or this is method missing in the types?

[2022-04-08 14:41] spencermountain commented on #333
good catch!
yep, missing from the types. fixed on dev, will add this to the next release.
thanks

[2022-04-11 20:52] spencermountain commented on #333
released as 7.1.3
cheers

[2022-04-11 20:52] #333 closed

[2022-04-11 20:52] spencermountain commented on #331
fixed in 7.1.3
cheers

[2022-04-11 20:52] #331 closed

[2022-04-11 20:52] #308 closed

[2022-04-11 20:56] spencermountain commented on #306
hey Raj, the website code is on the [gh-pages](https://github.com/spencermountain/spacetime/tree/gh-pages) branch of this repository - feel free to make any layout changes you'd like.
cheers

[2022-04-13 22:43] kimonneuhoff opened #337 "Default Timezone Offset wrong?"
Hello,

Why is the default offset of "Europe/Berlin" 2? Germany is in UTC+1 by default and only while DST UTC+2. Or am i wrong??

-> spacetime.now().timezone()
=
{name: 'Europe/Berlin', hasDst: true, default_offset: 2, hemisphere: 'North', current: {…}, …}
change: {start: '03/27:02', back: '10/30:03'}
current: {offset: 2, isDST: true}
default_offset: 2
hasDst: true
hemisphere: "North"
name: "Europ

[2022-04-14 20:33] spencermountain commented on #337
hey Kimon, yeah, the library assumes the current timezone of the computer, if none is supplied. This can be a gotcha, if your code is running on a server somewhere.

Berlin is [currently in +2](https://www.timeanddate.com/worldclock/germany/berlin) - you can see the spacetime timezone [like this](https://runkit.com/spencermountain/625884975d93970008ddebcf)
cheers

[2022-04-14 20:33] #337 closed

[2022-04-18 10:48] ellipticaldoor opened #338 "i18n method is not included on the types"
When I try to use the i18n method I get the type error "Property 'i18n' does not exist on type 'Spacetime'" though it works fine. Seems like this method is missing on the types.

Also I had to find how to use this looking at the tests, I couldn't find it in the docs or in the wiki.

[2022-04-18 14:54] spencermountain commented on #338
hey Miguel - good catch. Looks like these are missing. Will add these in the next release
cheers

[2022-04-18 16:28] #338 closed

[2022-04-18 16:30] spencermountain commented on #338
i18n type added in `7.1.4`

method is documented here:
https://github.com/spencermountain/spacetime#custom-languages
thanks

[2022-04-18 21:49] ellipticaldoor commented on #338
wow thank you!

[2022-05-02 16:14] #306 closed, assigned to nobody

[2022-07-20 12:12] coatesap opened #341 "Future DST changes incorrect for Europe/London"
Apologies if this is effectively a duplicate of other outstanding timezone-related issues.

At the moment, if we ask what the UTC equivalent of `2023-03-26 17:00` in `Europe/London` is, Spacetime tells us that it's `17:00`:

[code]

Whereas we know that in 2023 the DST change will have already taken place at `01:00` that morning, so the correct output would be `2023-03-26T16:00:00.000Z`.

Is this

[2022-07-20 19:19] spencermountain commented on #341
hey Andy, yep you're right. I have a plan to support the 'last sunday' patterns, but have had a busy summer and haven't got to it yet.
you can see the start of the work [here](https://github.com/spencermountain/spacetime/tree/master/plugins/dst), if you'd like to join me.

I've looked, in earnest for a collection of these folk patterns, like 'last sunday', and it's incredible that they are found n

[2022-07-22 07:18] owen95t opened #342 "Diff results are wrong."
`const diff_hour = spacetime('2022-06-22T17:03:56.419Z').diff(spacetime('2022-07-22T17:03:56.419Z'), 'hour')`

This should return 24 hours, but instead, returns 720

[2022-07-22 07:22] #342 closed

[2022-07-22 09:11] coatesap opened #343 "Incorrect instance construction when using a timezone"
The construction of a Spacetime instance seems to be affected by the system timezone, even when a specific timezone is supplied as the second parameter:

[code]

This seems to being affected by the fact that in London there is a DST change on that day. But that should be irrelevant given that we've been explicit about what we mean in the constructor.

[2022-07-22 14:36] spencermountain commented on #343
hey Andy, could this be #235 ?

[2022-07-27 09:13] owen95t opened #344 "Rounding up .diff"
I cant seem to find a way to do this, so I assume that currently it is impossible?

If so, it would be great to have this as a function.

Using this library to calculate penalty times by the hour, so it would be nice to have a round up function!

[2022-07-27 12:44] spencermountain commented on #344
hey @owen95t i'd love to know more about your idea -

we currently have .nearest, which could be coerced like this:
[code]
lemme know
cheers

[2022-08-03 09:04] owen95t commented on #344
@spencermountain

One of the options that I love about dayjs is that their diff can actually return a float.

So instead of the logic above, i can simply do a

`let rounded = Math.ceil(x.diff(y, 'hour', true))`
`/ / true option allows for returning a float in dayjs`

But I am using spacetime due to how spacetime can manipulate time, which i think is better than dayjs in the application I am workin